In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## KOSPI

In [29]:
kospi_1 = pd.read_csv('/content/drive/MyDrive/PJ2/펀드 위험지수/csv/2분기/코스피_반기_개별.csv', encoding = 'euc-kr')
kospi_2 = pd.read_csv('/content/drive/MyDrive/PJ2/펀드 위험지수/csv/2분기/코스피_반기_연결.csv', encoding = 'euc-kr')

In [30]:
kospi_1

,회사명,거래소코드,회계년도,자산(*)(요약)(IFRS)(백만원),유동부채(*)(요약)(IFRS)(백만원),유동자산(*)(요약)(IFRS)(백만원),부채(*)(요약)(IFRS)(백만원),자본(*)(요약)(IFRS)(백만원),재고자산(요약)(IFRS)(백만원),당기순이익(총포괄손익)(요약)(IFRS)(백만원),매출액(수익)(요약)(IFRS)(백만원),판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원),매출원가(요약)(IFRS)(백만원),매입채무(IFRS)(천원),금융원가(요약)(IFRS)(백만원)
0,(주)DB하이텍,990,2011/06,1352263.0,577954.0,427809.0,977334.0,374930.0,80996.0,-10681.0,296884.0,62536.0,229201.0,28740559.0,29122.0
1,(주)DB하이텍,990,2012/06,1203348.0,566481.0,321451.0,920387.0,282960.0,84859.0,-23648.0,300267.0,58901.0,243131.0,28195584.0,26843.0
2,(주)DB하이텍,990,2013/06,1163972.0,528081.0,283769.0,915512.0,248460.0,99709.0,-26093.0,253692.0,49544.0,199061.0,42274287.0,34360.0
3,(주)DB하이텍,990,2014/06,1046430.0,495954.0,239662.0,867594.0,178836.0,76199.0,-18908.0,262324.0,46457.0,204922.0,37879822.0,34233.0
4,(주)DB하이텍,990,2015/06,1034293.0,407209.0,278242.0,793354.0,240939.0,90955.0,88228.0,296846.0,48652.0,202335.0,40109881.0,33066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7869,흥아해운(주),3280,2018/06,841293.0,313177.0,111469.0,746442.0,94851.0,20934.0,-35988.0,364791.0,10014.0,371567.0,60405844.0,15555.0
7870,흥아해운(주),3280,2019/06,772062.0,321968.0,152328.0,743797.0,28265.0,19742.0,-32372.0,320389.0,8360.0,340097.0,55223753.0,16830.0
7871,흥아해운(주),3280,2020/06,344085.0,138622.0,60308.0,325882.0,18203.0,7365.0,2643.0,45318.0,4572.0,43904.0,10804842.0,8328.0
7872,흥아해운(주),3280,2021/06,282895.0,34982.0,73667.0,160743.0,122151.0,8966.0,38601.0,36506.0,3191.0,35041.0,10859579.0,6138.0
7873,흥아해운(주),3280,2022/06,283783.0,35050.0,57193.0,167809.0,115974.0,10206.0,-1726.0,60804.0,2935.0,52086.0,10771760.0,3525.0

In [31]:
kospi_1.isnull().sum()

회사명                                    0
거래소코드                                  0
회계년도                                   0
자산(*)(요약)(IFRS)(백만원)                  12
유동부채(*)(요약)(IFRS)(백만원)                12
유동자산(*)(요약)(IFRS)(백만원)                12
부채(*)(요약)(IFRS)(백만원)                  12
자본(*)(요약)(IFRS)(백만원)                  12
재고자산(요약)(IFRS)(백만원)                   12
당기순이익(총포괄손익)(요약)(IFRS)(백만원)           12
매출액(수익)(요약)(IFRS)(백만원)                12
판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)    12
매출원가(요약)(IFRS)(백만원)                   12
매입채무(IFRS)(천원)                        12
금융원가(요약)(IFRS)(백만원)                   12
dtype: int64

In [32]:
kospi_2

,회사명,거래소코드,회계년도,자산(*)(요약)(IFRS연결)(백만원),유동부채(*)(요약)(IFRS연결)(백만원),비유동부채 (*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),자본(*)(요약)(IFRS연결)(백만원),재고자산(요약)(IFRS연결)(백만원),당기순이익(총포괄손익)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원),매출원가(요약)(IFRS연결)(백만원),매입채무(IFRS연결)(천원),금융원가(요약)(IFRS연결)(백만원)
0,(주)DB하이텍,990,2011/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)DB하이텍,990,2012/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)DB하이텍,990,2013/06,1175028.0,525876.0,388167.0,914043.0,260985.0,99709.0,-31825.0,253739.0,49870.0,199061.0,42315824.0,34360.0
3,(주)DB하이텍,990,2014/06,1041282.0,495736.0,372330.0,868066.0,173216.0,76199.0,-28466.0,262325.0,46303.0,204922.0,37879822.0,34233.0
4,(주)DB하이텍,990,2015/06,1017563.0,408220.0,385290.0,793509.0,224054.0,90955.0,86508.0,296846.0,48405.0,202335.0,40970212.0,33066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7869,흥아해운(주),3280,2018/06,859770.0,319438.0,437142.0,756581.0,103189.0,20946.0,-34684.0,389207.0,14537.0,389595.0,61049157.0,15595.0
7870,흥아해운(주),3280,2019/06,800838.0,328306.0,428793.0,757099.0,43739.0,19774.0,-28617.0,341652.0,12396.0,356039.0,54298117.0,16871.0
7871,흥아해운(주),3280,2020/06,367426.0,150460.0,192773.0,343233.0,24193.0,7437.0,-4078.0,48383.0,6991.0,44376.0,9627698.0,8338.0
7872,흥아해운(주),3280,2021/06,280810.0,35775.0,127178.0,162953.0,117857.0,8966.0,40539.0,36506.0,4195.0,34792.0,9810508.0,6140.0
7873,흥아해운(주),3280,2022/06,309486.0,52624.0,138458.0,191082.0,118404.0,10206.0,1119.0,72638.0,5999.0,58465.0,13134716.0,3588.0

In [33]:
kospi_2.isnull().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
자산(*)(요약)(IFRS연결)(백만원)                  1923
유동부채(*)(요약)(IFRS연결)(백만원)                1923
비유동부채 (*)(요약)(IFRS연결)(백만원)              1923
부채(*)(요약)(IFRS연결)(백만원)                  1923
자본(*)(요약)(IFRS연결)(백만원)                  1923
재고자산(요약)(IFRS연결)(백만원)                   1923
당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)           1923
매출액(수익)(요약)(IFRS연결)(백만원)                1923
판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)    1923
매출원가(요약)(IFRS연결)(백만원)                   1923
매입채무(IFRS연결)(천원)                        1923
금융원가(요약)(IFRS연결)(백만원)                   1923
dtype: int64

In [34]:
# 연결 개별 데이터 프레임 합치기 (회사명, 거래소코드, 회계년도를 기준으로)
KOSPI = kospi_2.merge(kospi_1, on = ['회사명', '거래소코드', '회계년도'], how = 'left')

In [35]:

#  연결 재무제표를 개별재무제표로 대체하는 함수
def replace_yeongyeol_with_gaebyeol(df):
    connected_cols = [col for col in df.columns if "연결" in col]

    for connected_col in connected_cols:
        original_col = connected_col.replace("연결", "")
        if original_col in df.columns:
            df.loc[df[connected_col].isnull(), connected_col] = df[original_col]
    return df

In [36]:
replace_yeongyeol_with_gaebyeol(KOSPI)

,회사명,거래소코드,회계년도,자산(*)(요약)(IFRS연결)(백만원),유동부채(*)(요약)(IFRS연결)(백만원),비유동부채 (*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),자본(*)(요약)(IFRS연결)(백만원),재고자산(요약)(IFRS연결)(백만원),당기순이익(총포괄손익)(요약)(IFRS연결)(백만원),...,유동자산(*)(요약)(IFRS)(백만원),부채(*)(요약)(IFRS)(백만원),자본(*)(요약)(IFRS)(백만원),재고자산(요약)(IFRS)(백만원),당기순이익(총포괄손익)(요약)(IFRS)(백만원),매출액(수익)(요약)(IFRS)(백만원),판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원),매출원가(요약)(IFRS)(백만원),매입채무(IFRS)(천원),금융원가(요약)(IFRS)(백만원)
0,(주)DB하이텍,990,2011/06,1352263.0,577954.0,NaN,977334.0,374930.0,80996.0,-10681.0,...,427809.0,977334.0,374930.0,80996.0,-10681.0,296884.0,62536.0,229201.0,28740559.0,29122.0
1,(주)DB하이텍,990,2012/06,1203348.0,566481.0,NaN,920387.0,282960.0,84859.0,-23648.0,...,321451.0,920387.0,282960.0,84859.0,-23648.0,300267.0,58901.0,243131.0,28195584.0,26843.0
2,(주)DB하이텍,990,2013/06,1175028.0,525876.0,388167.0,914043.0,260985.0,99709.0,-31825.0,...,283769.0,915512.0,248460.0,99709.0,-26093.0,253692.0,49544.0,199061.0,42274287.0,34360.0
3,(주)DB하이텍,990,2014/06,1041282.0,495736.0,372330.0,868066.0,173216.0,76199.0,-28466.0,...,239662.0,867594.0,178836.0,76199.0,-18908.0,262324.0,46457.0,204922.0,37879822.0,34233.0
4,(주)DB하이텍,990,2015/06,1017563.0,408220.0,385290.0,793509.0,224054.0,90955.0,86508.0,...,278242.0,793354.0,240939.0,90955.0,88228.0,296846.0,48652.0,202335.0,40109881.0,33066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7869,흥아해운(주),3280,2018/06,859770.0,319438.0,437142.0,756581.0,103189.0,20946.0,-34684.0,...,111469.0,746442.0,94851.0,20934.0,-35988.0,364791.0,10014.0,371567.0,60405844.0,15555.0
7870,흥아해운(주),3280,2019/06,800838.0,328306.0,428793.0,757099.0,43739.0,19774.0,-28617.0,...,152328.0,743797.0,28265.0,19742.0,-32372.0,320389.0,8360.0,340097.0,55223753.0,16830.0
7871,흥아해운(주),3280,2020/06,367426.0,150460.0,192773.0,343233.0,24193.0,7437.0,-4078.0,...,60308.0,325882.0,18203.0,7365.0,2643.0,45318.0,4572.0,43904.0,10804842.0,8328.0
7872,흥아해운(주),3280,2021/06,280810.0,35775.0,127178.0,162953.0,117857.0,8966.0,40539.0,...,73667.0,160743.0,122151.0,8966.0,38601.0,36506.0,3191.0,35041.0,10859579.0,6138.0
7873,흥아해운(주),3280,2022/06,309486.0,52624.0,138458.0,191082.0,118404.0,10206.0,1119.0,...,57193.0,167809.0,115974.0,10206.0,-1726.0,60804.0,2935.0,52086.0,10771760.0,3525.0

In [37]:
KOSPI.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(요약)(IFRS연결)(백만원)',
       '유동부채(*)(요약)(IFRS연결)(백만원)', '비유동부채 (*)(요약)(IFRS연결)(백만원)',
       '부채(*)(요약)(IFRS연결)(백만원)', '자본(*)(요약)(IFRS연결)(백만원)',
       '재고자산(요약)(IFRS연결)(백만원)', '당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)',
       '매출액(수익)(요약)(IFRS연결)(백만원)', '판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)',
       '매출원가(요약)(IFRS연결)(백만원)', '매입채무(IFRS연결)(천원)', '금융원가(요약)(IFRS연결)(백만원)',
       '자산(*)(요약)(IFRS)(백만원)', '유동부채(*)(요약)(IFRS)(백만원)',
       '유동자산(*)(요약)(IFRS)(백만원)', '부채(*)(요약)(IFRS)(백만원)',
       '자본(*)(요약)(IFRS)(백만원)', '재고자산(요약)(IFRS)(백만원)',
       '당기순이익(총포괄손익)(요약)(IFRS)(백만원)', '매출액(수익)(요약)(IFRS)(백만원)',
       '판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)', '매출원가(요약)(IFRS)(백만원)',
       '매입채무(IFRS)(천원)', '금융원가(요약)(IFRS)(백만원)'],
      dtype='object')

In [38]:
# 결측값 214개 확인
replace_yeongyeol_with_gaebyeol(KOSPI).isna().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
자산(*)(요약)(IFRS연결)(백만원)                     0
유동부채(*)(요약)(IFRS연결)(백만원)                   0
비유동부채 (*)(요약)(IFRS연결)(백만원)              1923
부채(*)(요약)(IFRS연결)(백만원)                     0
자본(*)(요약)(IFRS연결)(백만원)                     0
재고자산(요약)(IFRS연결)(백만원)                      0
당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)              0
매출액(수익)(요약)(IFRS연결)(백만원)                   0
판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)       0
매출원가(요약)(IFRS연결)(백만원)                      0
매입채무(IFRS연결)(천원)                           0
금융원가(요약)(IFRS연결)(백만원)                      0
자산(*)(요약)(IFRS)(백만원)                      12
유동부채(*)(요약)(IFRS)(백만원)                    12
유동자산(*)(요약)(IFRS)(백만원)                    12
부채(*)(요약)(IFRS)(백만원)                      12
자본(*)(요약)(IFRS)(백만원)                      12
재고자산(요약)(IFRS)(백만원)                       12
당기순이익(총포괄손익)(요약)(IFRS)(백만원)               12
매출액(수익)(요약)(IFRS)(백만원)                    12
판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)        12
매출원가(요약)(IFRS)(백만원)                       12
매입채무(IFRS)(천원)                            12
금융원가(요약)(IFRS)(백만원)                       12
dtype: int64

In [39]:
# 개별재무제표 컬럼 삭제
KOSPI.drop(columns = ['자산(*)(요약)(IFRS연결)(백만원)',
       '유동부채(*)(요약)(IFRS연결)(백만원)', '비유동부채 (*)(요약)(IFRS연결)(백만원)',
       '부채(*)(요약)(IFRS연결)(백만원)', '자본(*)(요약)(IFRS연결)(백만원)',
       '재고자산(요약)(IFRS연결)(백만원)', '당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)',
       '매출액(수익)(요약)(IFRS연결)(백만원)', '판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)',
       '매출원가(요약)(IFRS연결)(백만원)', '매입채무(IFRS연결)(천원)', '금융원가(요약)(IFRS연결)(백만원)'], axis = 1, inplace = True)

In [40]:
# 개별 재무제표 컬럼 삭제 위해 컬럼명 추출
KOSPI.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(요약)(IFRS)(백만원)',
       '유동부채(*)(요약)(IFRS)(백만원)', '유동자산(*)(요약)(IFRS)(백만원)',
       '부채(*)(요약)(IFRS)(백만원)', '자본(*)(요약)(IFRS)(백만원)', '재고자산(요약)(IFRS)(백만원)',
       '당기순이익(총포괄손익)(요약)(IFRS)(백만원)', '매출액(수익)(요약)(IFRS)(백만원)',
       '판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)', '매출원가(요약)(IFRS)(백만원)',
       '매입채무(IFRS)(천원)', '금융원가(요약)(IFRS)(백만원)'],
      dtype='object')

In [43]:
KOSPI.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
자산(*)(요약)(IFRS)(백만원)                  0
유동부채(*)(요약)(IFRS)(백만원)                0
유동자산(*)(요약)(IFRS)(백만원)                0
부채(*)(요약)(IFRS)(백만원)                  0
자본(*)(요약)(IFRS)(백만원)                  0
재고자산(요약)(IFRS)(백만원)                   0
당기순이익(총포괄손익)(요약)(IFRS)(백만원)           0
매출액(수익)(요약)(IFRS)(백만원)                0
판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)    0
매출원가(요약)(IFRS)(백만원)                   0
매입채무(IFRS)(천원)                        0
금융원가(요약)(IFRS)(백만원)                   0
dtype: int64

In [44]:
KOSPI['매입채무(IFRS)(천원)']/1000

0       28740.559
1       28195.584
2       42274.287
3       37879.822
4       40109.881
          ...
7869    60405.844
7870    55223.753
7871    10804.842
7872    10859.579
7873    10771.760
Name: 매입채무(IFRS)(천원), Length: 7862, dtype: float64

In [45]:
# () 앞에 있는 이름만 남기고 나머지 삭제하는 함수
def extract_name(KOSPI):
    return KOSPI.split('(')[0]

# 데이터프레임의 모든 컬럼에 대해 () 앞에 있는 이름만 남기고 나머지 삭제
KOSPI.columns = KOSPI.columns.map(extract_name)

In [47]:
KOSPI.rename(columns={'금융원가': '금융비용'}, inplace=True)

<ipython-input-47-d950bad2d8d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KOSPI.rename(columns={'금융원가': '금융비용'}, inplace=True)

In [48]:
KOSPI.isna().sum()

회사명         0
거래소코드       0
회계년도        0
자산          0
유동부채        0
유동자산        0
부채          0
자본          0
재고자산        0
당기순이익       0
매출액         0
판매비와 관리비    0
매출원가        0
매입채무        0
금융비용        0
dtype: int64

## KOSDAQ 반기

In [57]:
kosdaq_1 = pd.read_csv('/content/drive/MyDrive/PJ2/펀드 위험지수/csv/2분기/코스닥_반기_개별.csv', encoding = 'euc-kr')
kosdaq_2 = pd.read_csv('/content/drive/MyDrive/PJ2/펀드 위험지수/csv/2분기/코스닥_반기_연결.csv', encoding = 'euc-kr')

In [58]:
kosdaq_2.isnull().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
자산(*)(요약)(IFRS연결)(백만원)                  4075
유동부채(*)(요약)(IFRS연결)(백만원)                4075
비유동부채 (*)(요약)(IFRS연결)(백만원)              4075
부채(*)(요약)(IFRS연결)(백만원)                  4075
자본(*)(요약)(IFRS연결)(백만원)                  4075
재고자산(요약)(IFRS연결)(백만원)                   4075
당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)           4075
매출액(수익)(요약)(IFRS연결)(백만원)                4075
판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)    4075
매출원가(요약)(IFRS연결)(백만원)                   4075
매입채무(IFRS연결)(천원)                        4075
금융원가(요약)(IFRS연결)(백만원)                   4075
dtype: int64

In [59]:
# 연결 개별 데이터 프레임 합치기 (회사명, 거래소코드, 회계년도를 기준으로)
KOSDAQ = kosdaq_2.merge(kosdaq_1, on = ['회사명', '거래소코드', '회계년도'], how = 'left')

In [60]:
replace_yeongyeol_with_gaebyeol(KOSDAQ)

,회사명,거래소코드,회계년도,자산(*)(요약)(IFRS연결)(백만원),유동부채(*)(요약)(IFRS연결)(백만원),비유동부채 (*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),자본(*)(요약)(IFRS연결)(백만원),재고자산(요약)(IFRS연결)(백만원),당기순이익(총포괄손익)(요약)(IFRS연결)(백만원),...,유동자산(*)(요약)(IFRS)(백만원),부채(*)(요약)(IFRS)(백만원),자본(*)(요약)(IFRS)(백만원),재고자산(요약)(IFRS)(백만원),당기순이익(총포괄손익)(요약)(IFRS)(백만원),매출액(수익)(요약)(IFRS)(백만원),판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원),매출원가(요약)(IFRS)(백만원),매입채무(IFRS)(천원),금융원가(요약)(IFRS)(백만원)
0,(주)CMG제약,58820,2011/06,29144.0,5977.0,NaN,9171.0,19974.0,3071.0,548.0,...,14413.0,9171.0,19974.0,3071.0,548.0,8295.0,3694.0,4893.0,1600106.0,79.0
1,(주)CMG제약,58820,2012/06,25729.0,7530.0,NaN,9349.0,16380.0,2336.0,-2657.0,...,14031.0,9349.0,16380.0,2336.0,-2657.0,8316.0,4262.0,5797.0,1302534.0,461.0
2,(주)CMG제약,58820,2013/06,57526.0,7579.0,18093.0,25672.0,31854.0,3765.0,434.0,...,46599.0,25581.0,31923.0,3765.0,491.0,10460.0,3502.0,6205.0,5572941.0,906.0
3,(주)CMG제약,58820,2014/06,57461.0,6602.0,1475.0,8077.0,49384.0,4938.0,476.0,...,31222.0,8073.0,49441.0,4938.0,483.0,11042.0,3981.0,6736.0,4142669.0,153.0
4,(주)CMG제약,58820,2015/06,57044.0,7886.0,538.0,8425.0,48619.0,4440.0,-516.0,...,26314.0,8418.0,48685.0,4440.0,-515.0,12565.0,4860.0,8193.0,3737067.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12655,흥구석유(주),24060,2018/06,80220.0,10150.0,NaN,11423.0,68797.0,3006.0,652.0,...,16225.0,11423.0,68797.0,3006.0,652.0,80015.0,3734.0,76268.0,0.0,70.0
12656,흥구석유(주),24060,2019/06,75846.0,4633.0,NaN,6264.0,69581.0,2522.0,884.0,...,14553.0,6264.0,69581.0,2522.0,884.0,72593.0,3702.0,68687.0,4067.0,2.0
12657,흥구석유(주),24060,2020/06,81180.0,3835.0,NaN,5943.0,75237.0,1981.0,417.0,...,24921.0,5943.0,75237.0,1981.0,417.0,55350.0,3364.0,52325.0,8400.0,0.0
12658,흥구석유(주),24060,2021/06,81725.0,2349.0,NaN,4140.0,77584.0,3192.0,165.0,...,25552.0,4140.0,77584.0,3192.0,165.0,63773.0,3612.0,60867.0,33334.0,0.0
12659,흥구석유(주),24060,2022/06,82500.0,3321.0,NaN,4120.0,78380.0,1985.0,938.0,...,26823.0,4120.0,78380.0,1985.0,938.0,73006.0,3511.0,69138.0,16838.0,0.0

In [61]:
# 결측값 214개 확인
replace_yeongyeol_with_gaebyeol(KOSDAQ).isna().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
자산(*)(요약)(IFRS연결)(백만원)                   234
유동부채(*)(요약)(IFRS연결)(백만원)                 234
비유동부채 (*)(요약)(IFRS연결)(백만원)              4075
부채(*)(요약)(IFRS연결)(백만원)                   234
자본(*)(요약)(IFRS연결)(백만원)                   234
재고자산(요약)(IFRS연결)(백만원)                    234
당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)            234
매출액(수익)(요약)(IFRS연결)(백만원)                 234
판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)     234
매출원가(요약)(IFRS연결)(백만원)                    234
매입채무(IFRS연결)(천원)                         234
금융원가(요약)(IFRS연결)(백만원)                    234
자산(*)(요약)(IFRS)(백만원)                     305
유동부채(*)(요약)(IFRS)(백만원)                   305
유동자산(*)(요약)(IFRS)(백만원)                   305
부채(*)(요약)(IFRS)(백만원)                     305
자본(*)(요약)(IFRS)(백만원)                     305
재고자산(요약)(IFRS)(백만원)                      305
당기순이익(총포괄손익)(요약)(IFRS)(백만원)              305
매출액(수익)(요약)(IFRS)(백만원)                   305
판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)       305
매출원가(요약)(IFRS)(백만원)                      305
매입채무(IFRS)(천원)                           305
금융원가(요약)(IFRS)(백만원)                      305
dtype: int64

In [62]:
# 개별재무제표 컬럼 삭제
KOSDAQ.drop(columns = ['자산(*)(요약)(IFRS연결)(백만원)',
       '유동부채(*)(요약)(IFRS연결)(백만원)', '비유동부채 (*)(요약)(IFRS연결)(백만원)',
       '부채(*)(요약)(IFRS연결)(백만원)', '자본(*)(요약)(IFRS연결)(백만원)',
       '재고자산(요약)(IFRS연결)(백만원)', '당기순이익(총포괄손익)(요약)(IFRS연결)(백만원)',
       '매출액(수익)(요약)(IFRS연결)(백만원)', '판매비와 관리비(물류원가 등 포함)(요약)(IFRS연결)(백만원)',
       '매출원가(요약)(IFRS연결)(백만원)', '매입채무(IFRS연결)(천원)', '금융원가(요약)(IFRS연결)(백만원)'], axis = 1, inplace = True)

In [63]:
# 개별 재무제표 컬럼 삭제 위해 컬럼명 추출
KOSDAQ.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(요약)(IFRS)(백만원)',
       '유동부채(*)(요약)(IFRS)(백만원)', '유동자산(*)(요약)(IFRS)(백만원)',
       '부채(*)(요약)(IFRS)(백만원)', '자본(*)(요약)(IFRS)(백만원)', '재고자산(요약)(IFRS)(백만원)',
       '당기순이익(총포괄손익)(요약)(IFRS)(백만원)', '매출액(수익)(요약)(IFRS)(백만원)',
       '판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)', '매출원가(요약)(IFRS)(백만원)',
       '매입채무(IFRS)(천원)', '금융원가(요약)(IFRS)(백만원)'],
      dtype='object')

In [64]:
KOSDAQ.isna().sum()

회사명                                     0
거래소코드                                   0
회계년도                                    0
자산(*)(요약)(IFRS)(백만원)                  305
유동부채(*)(요약)(IFRS)(백만원)                305
유동자산(*)(요약)(IFRS)(백만원)                305
부채(*)(요약)(IFRS)(백만원)                  305
자본(*)(요약)(IFRS)(백만원)                  305
재고자산(요약)(IFRS)(백만원)                   305
당기순이익(총포괄손익)(요약)(IFRS)(백만원)           305
매출액(수익)(요약)(IFRS)(백만원)                305
판매비와 관리비(물류원가 등 포함)(요약)(IFRS)(백만원)    305
매출원가(요약)(IFRS)(백만원)                   305
매입채무(IFRS)(천원)                        305
금융원가(요약)(IFRS)(백만원)                   305
dtype: int64

In [65]:
KOSDAQ['매입채무(IFRS)(천원)']/1000

0        1600.106
1        1302.534
2        5572.941
3        4142.669
4        3737.067
           ...
12655       0.000
12656       4.067
12657       8.400
12658      33.334
12659      16.838
Name: 매입채무(IFRS)(천원), Length: 12660, dtype: float64

In [66]:
# () 앞에 있는 이름만 남기고 나머지 삭제하는 함수
def extract_name(KOSDAQ):
    return KOSDAQ.split('(')[0]

# 데이터프레임의 모든 컬럼에 대해 () 앞에 있는 이름만 남기고 나머지 삭제
KOSDAQ.columns = KOSDAQ.columns.map(extract_name)

In [67]:
KOSDAQ.isna().sum()

회사명           0
거래소코드         0
회계년도          0
자산          305
유동부채        305
유동자산        305
부채          305
자본          305
재고자산        305
당기순이익       305
매출액         305
판매비와 관리비    305
매출원가        305
매입채무        305
금융원가        305
dtype: int64

In [68]:
# 결측값 기업 확인
KOSDAQ[KOSDAQ["자산"].isnull()]['회사명'].unique()

array(['(주)고려시멘트', '(주)국전약품', '(주)나노', '(주)나인테크', '(주)네오셈', '(주)네온테크',
       '(주)넥슨게임즈', '(주)넵튠', '(주)누보', '(주)다보링크', '(주)더블유에스아이', '(주)덴티스',
       '(주)드림시큐리티', '(주)디딤이앤에프', '(주)디알텍', '(주)디와이디', '(주)라이콤', '(주)러셀',
       '(주)레이크머티리얼즈', '(주)로보로보', '(주)메쎄이상', '(주)모비데이즈', '(주)모코엠시스',
       '(주)미래생명자원', '(주)바이오로그디바이스', '(주)밸로프', '(주)베노티앤알', '(주)본느',
       '(주)블리츠웨이', '(주)비올', '(주)비투엔', '(주)서진오토모티브', '(주)세림비앤지',
       '(주)세화피앤씨', '(주)셀바스헬스케어', '(주)스튜디오산타클로스엔터테인먼트', '(주)썸에이지',
       '(주)쎄노텍', '(주)씨엔알리서치', '(주)아이비김영', '(주)아이엘사이언스', '(주)알로이스',
       '(주)알톤스포츠', '(주)애니플러스', '(주)액션스퀘어', '(주)에스에이티이엔지', '(주)에이트원',
       '(주)에치에프알', '(주)에프에스엔', '(주)엔투텍', '(주)엔피', '(주)예선테크', '(주)오하임아이엔티',
       '(주)옵투스제약', '(주)와이즈버즈', '(주)우정바이오', '(주)원바이오젠', '(주)웨이버스',
       '(주)위메이드플레이', '(주)윙스풋', '(주)유에스티', '(주)이노인스트루먼트', '(주)이랜시스',
       '(주)인산가', '(주)일승', '(주)자비스', '(주)정다운', '(주)제이시스메디칼', '(주)지란지교시큐리티',
       '(주)카이노스메드', '(주)케이사인', '(주)켐트로스', '(주)코스텍시스', '(주)코퍼스코리아',
       '(주)큐브엔터테인먼트', '(주)클래시스', '(주)태성', '(주)토박스코리아', '(주)티에스트릴리온',
       '(주)파이버프로', '(주)포인트엔지니어링', '(주)포커스에이치엔에스', '(주)프로스테믹스', '(주)프로이천',
       '(주)하이딥', '(주)하이비젼시스템', '(주)한국비엔씨', '(주)한송네오텍', '(주)한일진공',
       '(주)화신정공', '(주)휴럼', '(주)휴센텍', '글로벌에스엠테크리미티드', '글로벌텍스프리(주)',
       '글로본(주)', '나무기술(주)', '디와이씨(주)', '로스웰인터내셔널유한회사', '미스터블루(주)',
       '바디텍메드(주)', '소프트캠프(주)', '솔트웨어(주)', '씨아이에스(주)', '알서포트(주)',
       '알에프에이치아이씨(주)', '에스지에이솔루션즈(주)', '엠에프엠코리아(주)',
       '오가닉티코스메틱스홀딩스컴퍼니리미티드', '와이아이케이(주)', '원텍(주)', '윙입푸드홀딩스',
       '이스트아시아홀딩스인베스트먼트리미티드', '줌인터넷(주)', '지엘팜텍(주)', '지오릿에너지(주)',
       '차이나크리스탈신소재홀딩스', '컬러레이홀딩스', '케이만금세기차륜집단유한공사', '케이에이치건설(주)',
       '케이엠제약(주)', '코닉오토메이션(주)', '코리아에프티(주)', '패션플랫폼(주)', '하인크코리아(주)',
       '헝셩그룹유한회사', '현대무벡스(주)', '휴마시스(주)'], dtype=object)

In [69]:
# 결측값 기업들은 dart로 확인을 했을 때 기타법인, 벤처기업, 코넥스등의 기업이므로 삭제
KOSDAQ = KOSDAQ[~KOSDAQ["자산"].isnull()]
KOSDAQ

,회사명,거래소코드,회계년도,자산,유동부채,유동자산,부채,자본,재고자산,당기순이익,매출액,판매비와 관리비,매출원가,매입채무,금융원가
0,(주)CMG제약,58820,2011/06,29144.0,5977.0,14413.0,9171.0,19974.0,3071.0,548.0,8295.0,3694.0,4893.0,1600106.0,79.0
1,(주)CMG제약,58820,2012/06,25729.0,7530.0,14031.0,9349.0,16380.0,2336.0,-2657.0,8316.0,4262.0,5797.0,1302534.0,461.0
2,(주)CMG제약,58820,2013/06,57504.0,7488.0,46599.0,25581.0,31923.0,3765.0,491.0,10460.0,3502.0,6205.0,5572941.0,906.0
3,(주)CMG제약,58820,2014/06,57515.0,6598.0,31222.0,8073.0,49441.0,4938.0,483.0,11042.0,3981.0,6736.0,4142669.0,153.0
4,(주)CMG제약,58820,2015/06,57103.0,7880.0,26314.0,8418.0,48685.0,4440.0,-515.0,12565.0,4860.0,8193.0,3737067.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12655,흥구석유(주),24060,2018/06,80220.0,10150.0,16225.0,11423.0,68797.0,3006.0,652.0,80015.0,3734.0,76268.0,0.0,70.0
12656,흥구석유(주),24060,2019/06,75846.0,4633.0,14553.0,6264.0,69581.0,2522.0,884.0,72593.0,3702.0,68687.0,4067.0,2.0
12657,흥구석유(주),24060,2020/06,81180.0,3835.0,24921.0,5943.0,75237.0,1981.0,417.0,55350.0,3364.0,52325.0,8400.0,0.0
12658,흥구석유(주),24060,2021/06,81725.0,2349.0,25552.0,4140.0,77584.0,3192.0,165.0,63773.0,3612.0,60867.0,33334.0,0.0
12659,흥구석유(주),24060,2022/06,82500.0,3321.0,26823.0,4120.0,78380.0,1985.0,938.0,73006.0,3511.0,69138.0,16838.0,0.0

In [72]:
# 결측값 0인 것 확인
KOSDAQ.isna().sum()

회사명         0
거래소코드       0
회계년도        0
자산          0
유동부채        0
유동자산        0
부채          0
자본          0
재고자산        0
당기순이익       0
매출액         0
판매비와 관리비    0
매출원가        0
매입채무        0
금융비용        0
dtype: int64

In [71]:
KOSDAQ.rename(columns={'금융원가': '금융비용'}, inplace=True)

<ipython-input-71-b5c9bd716d58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KOSDAQ.rename(columns={'금융원가': '금융비용'}, inplace=True)

In [73]:
KOSPI_KOSDAQ = pd.concat([KOSPI, KOSDAQ])

In [74]:
KOSPI_KOSDAQ.to_csv('2분기.csv', index = False)