In [1]:
import pandas as pd
import numpy as np

In [2]:
score = pd.read_csv('./펀드 점수.csv')
score

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,9,10,5,7,3,7,8,10,7,7
1,(주)DB하이텍,990,2012-03-01,10,10,5,9,3,9,9,10,9,8
2,(주)DB하이텍,990,2013-03-01,10,10,6,8,4,9,10,10,9,8
3,(주)DB하이텍,990,2014-03-01,10,10,4,9,5,9,10,10,9,7
4,(주)DB하이텍,990,2015-03-01,9,10,4,8,5,1,1,10,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,7,1,2,8,1,5,4,2,3,4
80820,흥구석유(주),24060,2019-12-01,5,1,9,4,1,6,5,1,5,7
80821,흥구석유(주),24060,2020-12-01,4,1,3,7,1,2,2,1,1,8
80822,흥구석유(주),24060,2021-12-01,4,1,7,7,1,6,6,1,5,6
80823,흥구석유(주),24060,2022-12-01,8,2,7,3,1,5,5,3,5,6

# 상용로그 가중치
- feature importance : 부채비율(log10) -> 순운전자본비율(log9) -> 총자산투자효율(log8) -> 총자산증가율(log7) -> 매입채무회전기간(log6) -> 총자산사업이익률(log5) -> 자기자본순이익률(log4) -> 매출액순이익률(log3) -> 금융비용 대 총비용비율(log2) -> 재고자산증가율(log1)

In [3]:
score_log = score.copy()

In [4]:
# 1. 부채비율 가중치

score_log['부채비율점수'] = score['부채비율점수'] * (np.log10(10))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,9,10.0,5,7,3,7,8,10,7,7
1,(주)DB하이텍,990,2012-03-01,10,10.0,5,9,3,9,9,10,9,8
2,(주)DB하이텍,990,2013-03-01,10,10.0,6,8,4,9,10,10,9,8
3,(주)DB하이텍,990,2014-03-01,10,10.0,4,9,5,9,10,10,9,7
4,(주)DB하이텍,990,2015-03-01,9,10.0,4,8,5,1,1,10,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,7,1.0,2,8,1,5,4,2,3,4
80820,흥구석유(주),24060,2019-12-01,5,1.0,9,4,1,6,5,1,5,7
80821,흥구석유(주),24060,2020-12-01,4,1.0,3,7,1,2,2,1,1,8
80822,흥구석유(주),24060,2021-12-01,4,1.0,7,7,1,6,6,1,5,6
80823,흥구석유(주),24060,2022-12-01,8,2.0,7,3,1,5,5,3,5,6

In [5]:
score_log['부채비율점수'].value_counts()

부채비율점수
10.0    8083
7.0     8083
4.0     8083
1.0     8083
9.0     8082
8.0     8082
5.0     8082
3.0     8082
6.0     8082
2.0     8082
Name: count, dtype: int64

In [6]:
# 2. 순운전자본비율 가중치

score_log['순운전자본비율점수'] = score['순운전자본비율점수'] * (np.log10(9))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,7,3,7,8,10,7,7
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,9,3,9,9,10,9,8
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,8,4,9,10,10,9,8
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,9,5,9,10,10,9,7
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,8,5,1,1,10,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,8,1,5,4,2,3,4
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,4,1,6,5,1,5,7
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,7,1,2,2,1,1,8
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,7,1,6,6,1,5,6
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,3,1,5,5,3,5,6

In [7]:
score_log['순운전자본비율점수'].value_counts()

순운전자본비율점수
9.542425    8083
6.679698    8083
0.954243    8083
3.816970    8083
8.588183    8082
7.633940    8082
4.771213    8082
2.862728    8082
5.725455    8082
1.908485    8082
Name: count, dtype: int64

In [8]:
# 3. 총자산투자효율 가중치

score_log['총자산투자효율점수'] = score['총자산투자효율점수'] * (np.log10(8))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,7,3,7,8,10,7,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,9,3,9,9,10,9,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,8,4,9,10,10,9,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,9,5,9,10,10,9,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,8,5,1,1,10,1,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,8,1,5,4,2,3,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,4,1,6,5,1,5,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,7,1,2,2,1,1,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,7,1,6,6,1,5,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,3,1,5,5,3,5,5.41854

In [9]:
score_log['총자산투자효율점수'].value_counts()

총자산투자효율점수
7.22472    8090
0.90309    8083
3.61236    8083
9.03090    8083
2.70927    8082
5.41854    8082
4.51545    8082
8.12781    8082
1.80618    8082
6.32163    8075
Name: count, dtype: int64

In [10]:
# 4. 총자산증가율 가중치

score_log['총자산증가율점수'] = score['총자산증가율점수'] * (np.log10(7))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,3,7,8,10,7,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,3,9,9,10,9,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,4,9,10,10,9,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,5,9,10,10,9,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,5,1,1,10,1,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,1,5,4,2,3,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,1,6,5,1,5,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,1,2,2,1,1,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,1,6,6,1,5,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,1,5,5,3,5,5.41854

In [11]:
score_log['총자산증가율점수'].value_counts()

총자산증가율점수
5.915686    8083
0.845098    8083
8.450980    8083
3.380392    8083
7.605882    8082
6.760784    8082
5.070588    8082
4.225490    8082
2.535294    8082
1.690196    8082
Name: count, dtype: int64

In [12]:
# 5. 매입채무회전기간 가중치

score_log['매입채무회전기간점수'] = score['매입채무회전기간점수'] * (np.log10(6))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,2.334454,7,8,10,7,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,2.334454,9,9,10,9,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,3.112605,9,10,10,9,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,3.890756,9,10,10,9,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,3.890756,1,1,10,1,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,0.778151,5,4,2,3,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,0.778151,6,5,1,5,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,0.778151,2,2,1,1,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,0.778151,6,6,1,5,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,0.778151,5,5,3,5,5.41854

In [13]:
score_log['매입채무회전기간점수'].value_counts()

매입채무회전기간점수
3.112605    7881
5.447059    7881
2.334454    7880
3.890756    7880
4.668908    7880
1.556303    7880
6.225210    7880
7.003361    7880
0.778151    7486
7.781513    6303
0.000000    3993
Name: count, dtype: int64

In [14]:
# 6. 총자산사업이익률 가중치

score_log['총자산사업이익률점수'] = score['총자산사업이익률점수'] * (np.log10(5))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,2.334454,7,8,10,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,2.334454,9,9,10,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,3.112605,9,10,10,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,3.890756,9,10,10,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,3.890756,1,1,10,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,0.778151,5,4,2,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,0.778151,6,5,1,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,0.778151,2,2,1,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,0.778151,6,6,1,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,0.778151,5,5,3,3.49485,5.41854

In [15]:
score_log['총자산사업이익률점수'].value_counts()

총자산사업이익률점수
4.89279    8083
0.69897    8083
6.98970    8083
2.79588    8083
6.29073    8082
1.39794    8082
2.09691    8082
4.19382    8082
5.59176    8082
3.49485    8082
Name: count, dtype: int64

In [16]:
# 7. 자기자본순이익률 가중치

score_log['자기자본순이익률점수'] = score['자기자본순이익률점수'] * (np.log10(5))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,2.334454,7,5.59176,10,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,2.334454,9,6.29073,10,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,3.112605,9,6.98970,10,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,3.890756,9,6.98970,10,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,3.890756,1,0.69897,10,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,0.778151,5,2.79588,2,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,0.778151,6,3.49485,1,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,0.778151,2,1.39794,1,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,0.778151,6,4.19382,1,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,0.778151,5,3.49485,3,3.49485,5.41854

In [17]:
score_log['자기자본순이익률점수'].value_counts()

자기자본순이익률점수
6.98970    8083
0.69897    8083
2.79588    8083
4.89279    8083
5.59176    8082
6.29073    8082
4.19382    8082
2.09691    8082
1.39794    8082
3.49485    8082
Name: count, dtype: int64

In [18]:
# 8. 매출액순이익률 가중치

score_log['매출액순이익률점수'] = score['매출액순이익률점수'] * (np.log10(4))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,2.334454,4.21442,5.59176,10,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,2.334454,5.41854,6.29073,10,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,3.112605,5.41854,6.98970,10,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,3.890756,5.41854,6.98970,10,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,3.890756,0.60206,0.69897,10,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,0.778151,3.01030,2.79588,2,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,0.778151,3.61236,3.49485,1,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,0.778151,1.20412,1.39794,1,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,0.778151,3.61236,4.19382,1,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,0.778151,3.01030,3.49485,3,3.49485,5.41854

In [19]:
score_log['매출액순이익률점수'].value_counts()

매출액순이익률점수
0.60206    8083
6.02060    8083
4.21442    8082
5.41854    8082
1.20412    8082
3.61236    8082
1.80618    8082
2.40824    8082
4.81648    8082
3.01030    8082
0.00000       2
Name: count, dtype: int64

In [20]:
# 9. 금융비용 대 총비용비율 가중치

score_log['금융비용 대 총비용비율점수'] = score['금융비용 대 총비용비율점수'] * (np.log10(3))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,5,5.915686,2.334454,4.21442,5.59176,4.771213,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,5,7.605882,2.334454,5.41854,6.29073,4.771213,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,6,6.760784,3.112605,5.41854,6.98970,4.771213,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,4,7.605882,3.890756,5.41854,6.98970,4.771213,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,4,6.760784,3.890756,0.60206,0.69897,4.771213,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,2,6.760784,0.778151,3.01030,2.79588,0.954243,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,9,3.380392,0.778151,3.61236,3.49485,0.477121,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,3,5.915686,0.778151,1.20412,1.39794,0.477121,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,7,5.915686,0.778151,3.61236,4.19382,0.477121,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,7,2.535294,0.778151,3.01030,3.49485,1.431364,3.49485,5.41854

In [21]:
score_log['금융비용 대 총비용비율점수'].value_counts()

금융비용 대 총비용비율점수
0.477121    10107
4.771213     8082
4.294091     8082
3.816970     8082
2.385606     8082
1.908485     8082
3.339849     8082
2.862728     8082
1.431364     8082
0.954243     6058
0.000000        3
Name: count, dtype: int64

In [22]:
# 10. 재고자산증가율 가중치

score_log['재고자산증가율점수'] = score['재고자산증가율점수'] * (np.log10(2))
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,1.50515,5.915686,2.334454,4.21442,5.59176,4.771213,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,1.50515,7.605882,2.334454,5.41854,6.29073,4.771213,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,1.80618,6.760784,3.112605,5.41854,6.98970,4.771213,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,1.20412,7.605882,3.890756,5.41854,6.98970,4.771213,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,1.20412,6.760784,3.890756,0.60206,0.69897,4.771213,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,0.60206,6.760784,0.778151,3.01030,2.79588,0.954243,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,2.70927,3.380392,0.778151,3.61236,3.49485,0.477121,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,0.90309,5.915686,0.778151,1.20412,1.39794,0.477121,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,2.10721,5.915686,0.778151,3.61236,4.19382,0.477121,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,2.10721,2.535294,0.778151,3.01030,3.49485,1.431364,3.49485,5.41854

In [23]:
score_log['재고자산증가율점수'].value_counts()

재고자산증가율점수
1.50515    7656
1.20412    7656
0.60206    7656
2.10721    7656
2.70927    7656
0.90309    7656
2.40824    7656
1.80618    7655
0.00000    6704
0.30103    6441
3.01030    6432
Name: count, dtype: int64

In [24]:
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,1.50515,5.915686,2.334454,4.21442,5.59176,4.771213,4.89279,6.32163
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,1.50515,7.605882,2.334454,5.41854,6.29073,4.771213,6.29073,7.22472
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,1.80618,6.760784,3.112605,5.41854,6.98970,4.771213,6.29073,7.22472
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,1.20412,7.605882,3.890756,5.41854,6.98970,4.771213,6.29073,6.32163
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,1.20412,6.760784,3.890756,0.60206,0.69897,4.771213,0.69897,2.70927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,0.60206,6.760784,0.778151,3.01030,2.79588,0.954243,2.09691,3.61236
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,2.70927,3.380392,0.778151,3.61236,3.49485,0.477121,3.49485,6.32163
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,0.90309,5.915686,0.778151,1.20412,1.39794,0.477121,0.69897,7.22472
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,2.10721,5.915686,0.778151,3.61236,4.19382,0.477121,3.49485,5.41854
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,2.10721,2.535294,0.778151,3.01030,3.49485,1.431364,3.49485,5.41854

In [25]:
score_log.columns

Index(['회사명', '거래소코드', '회계년도', '순운전자본비율점수', '부채비율점수', '재고자산증가율점수', '총자산증가율점수',
       '매입채무회전기간점수', '매출액순이익률점수', '자기자본순이익률점수', '금융비용 대 총비용비율점수', '총자산사업이익률점수',
       '총자산투자효율점수'],
      dtype='object')

In [26]:
score_log['분기별 기업 위험 점수'] = score_log['순운전자본비율점수'] + score_log['부채비율점수'] + score_log['재고자산증가율점수'] + score_log['총자산증가율점수'] + score_log['매입채무회전기간점수'] + score_log['매출액순이익률점수'] + score_log['자기자본순이익률점수'] + score_log['금융비용 대 총비용비율점수'] +score_log['총자산사업이익률점수'] + score_log['총자산투자효율점수']

In [27]:
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,분기별 기업 위험 점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,1.50515,5.915686,2.334454,4.21442,5.59176,4.771213,4.89279,6.32163,54.135285
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,1.50515,7.605882,2.334454,5.41854,6.29073,4.771213,6.29073,7.22472,60.983844
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,1.80618,6.760784,3.112605,5.41854,6.98970,4.771213,6.29073,7.22472,61.916897
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,1.20412,7.605882,3.890756,5.41854,6.98970,4.771213,6.29073,6.32163,62.034996
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,1.20412,6.760784,3.890756,0.60206,0.69897,4.771213,0.69897,2.70927,39.924326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,0.60206,6.760784,0.778151,3.01030,2.79588,0.954243,2.09691,3.61236,28.290386
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,2.70927,3.380392,0.778151,3.61236,3.49485,0.477121,3.49485,6.32163,30.039837
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,0.90309,5.915686,0.778151,1.20412,1.39794,0.477121,0.69897,7.22472,23.416769
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,2.10721,5.915686,0.778151,3.61236,4.19382,0.477121,3.49485,5.41854,30.814709
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,2.10721,2.535294,0.778151,3.01030,3.49485,1.431364,3.49485,5.41854,31.904499

In [28]:
score_log['분기별 기업 위험 점수'].value_counts()

분기별 기업 위험 점수
40.390365    9
61.835781    8
33.073751    7
66.765455    7
40.233739    7
            ..
27.224883    1
34.896005    1
24.740742    1
51.937724    1
31.904499    1
Name: count, Length: 66673, dtype: int64

In [29]:
score_log.describe()

,거래소코드,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,분기별 기업 위험 점수
count,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000
mean,71194.206671,5.248334,5.500000,1.518182,4.648039,4.017139,3.311248,3.844335,2.612095,3.844335,4.967084,39.510792
std,74488.781862,2.740895,2.872325,0.928048,2.427396,2.325389,1.729385,2.007669,1.387001,2.007669,2.594030,11.618532
min,20.000000,0.954243,1.000000,0.000000,0.845098,0.000000,0.000000,0.698970,0.000000,0.698970,0.903090,6.179552
25%,14130.000000,2.862728,3.000000,0.602060,2.535294,2.334454,1.806180,2.096910,1.431364,2.096910,2.709270,30.923521
50%,49430.000000,5.248334,5.500000,1.505150,4.648039,3.890756,3.010300,3.844335,2.385606,3.844335,4.966995,39.607265
75%,95570.000000,7.633940,8.000000,2.408240,6.760784,6.225210,4.816480,5.591760,3.816970,5.591760,7.224720,47.963115
max,441270.000000,9.542425,10.000000,3.010300,8.450980,7.781513,6.020600,6.989700,4.771213,6.989700,9.030900,71.508149

In [30]:
score_log

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,분기별 기업 위험 점수
0,(주)DB하이텍,990,2011-03-01,8.588183,10.0,1.50515,5.915686,2.334454,4.21442,5.59176,4.771213,4.89279,6.32163,54.135285
1,(주)DB하이텍,990,2012-03-01,9.542425,10.0,1.50515,7.605882,2.334454,5.41854,6.29073,4.771213,6.29073,7.22472,60.983844
2,(주)DB하이텍,990,2013-03-01,9.542425,10.0,1.80618,6.760784,3.112605,5.41854,6.98970,4.771213,6.29073,7.22472,61.916897
3,(주)DB하이텍,990,2014-03-01,9.542425,10.0,1.20412,7.605882,3.890756,5.41854,6.98970,4.771213,6.29073,6.32163,62.034996
4,(주)DB하이텍,990,2015-03-01,8.588183,10.0,1.20412,6.760784,3.890756,0.60206,0.69897,4.771213,0.69897,2.70927,39.924326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.679698,1.0,0.60206,6.760784,0.778151,3.01030,2.79588,0.954243,2.09691,3.61236,28.290386
80820,흥구석유(주),24060,2019-12-01,4.771213,1.0,2.70927,3.380392,0.778151,3.61236,3.49485,0.477121,3.49485,6.32163,30.039837
80821,흥구석유(주),24060,2020-12-01,3.816970,1.0,0.90309,5.915686,0.778151,1.20412,1.39794,0.477121,0.69897,7.22472,23.416769
80822,흥구석유(주),24060,2021-12-01,3.816970,1.0,2.10721,5.915686,0.778151,3.61236,4.19382,0.477121,3.49485,5.41854,30.814709
80823,흥구석유(주),24060,2022-12-01,7.633940,2.0,2.10721,2.535294,0.778151,3.01030,3.49485,1.431364,3.49485,5.41854,31.904499

---

# 지수별 가중치
- feature importance : 부채비율(1.0) -> 순운전자본비율(0.9) -> 총자산투자효율(0.8) -> 총자산증가율(0.7) -> 매입채무회전기간(0.6) -> 총자산사업이익률(0.5) -> 자기자본순이익률(0.4) -> 매출액순이익률(0.3) -> 금융비용 대 총비용비율(0.2) -> 재고자산증가율(0.1)

In [30]:
score_num = score.copy()

In [31]:
# 1. 부채비율 가중치

score_num['부채비율점수'] = score['부채비율점수'] * 1
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,9,10,5,7,3,7,8,10,7,7
1,(주)DB하이텍,990,2012-03-01,10,10,5,9,3,9,9,10,9,8
2,(주)DB하이텍,990,2013-03-01,10,10,6,8,4,9,10,10,9,8
3,(주)DB하이텍,990,2014-03-01,10,10,4,9,5,9,10,10,9,7
4,(주)DB하이텍,990,2015-03-01,9,10,4,8,5,1,1,10,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,7,1,2,8,1,5,4,2,3,4
80820,흥구석유(주),24060,2019-12-01,5,1,9,4,1,6,5,1,5,7
80821,흥구석유(주),24060,2020-12-01,4,1,3,7,1,2,2,1,1,8
80822,흥구석유(주),24060,2021-12-01,4,1,7,7,1,6,6,1,5,6
80823,흥구석유(주),24060,2022-12-01,8,2,7,3,1,5,5,3,5,6

In [32]:
score_num['부채비율점수'].value_counts()

부채비율점수
10    8083
7     8083
4     8083
1     8083
9     8082
8     8082
5     8082
3     8082
6     8082
2     8082
Name: count, dtype: int64

In [33]:
# 2. 순운전자본비율 가중치

score_num['순운전자본비율점수'] = score['순운전자본비율점수'] * 0.9
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,7,3,7,8,10,7,7
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,9,3,9,9,10,9,8
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,8,4,9,10,10,9,8
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,9,5,9,10,10,9,7
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,8,5,1,1,10,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,8,1,5,4,2,3,4
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,4,1,6,5,1,5,7
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,7,1,2,2,1,1,8
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,7,1,6,6,1,5,6
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,3,1,5,5,3,5,6

In [34]:
score_num['순운전자본비율점수'].value_counts()

순운전자본비율점수
9.0    8083
6.3    8083
0.9    8083
3.6    8083
8.1    8082
7.2    8082
4.5    8082
2.7    8082
5.4    8082
1.8    8082
Name: count, dtype: int64

In [35]:
# 3. 총자산투자효율 가중치

score_num['총자산투자효율점수'] = score['총자산투자효율점수'] * 0.8
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,7,3,7,8,10,7,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,9,3,9,9,10,9,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,8,4,9,10,10,9,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,9,5,9,10,10,9,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,8,5,1,1,10,1,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,8,1,5,4,2,3,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,4,1,6,5,1,5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,7,1,2,2,1,1,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,7,1,6,6,1,5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,3,1,5,5,3,5,4.8

In [36]:
score_num['총자산투자효율점수'].value_counts()

총자산투자효율점수
6.4    8090
0.8    8083
3.2    8083
8.0    8083
2.4    8082
4.8    8082
4.0    8082
7.2    8082
1.6    8082
5.6    8075
Name: count, dtype: int64

In [37]:
# 4. 총자산증가율 가중치

score_num['총자산증가율점수'] = score['총자산증가율점수'] * 0.7
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,3,7,8,10,7,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,3,9,9,10,9,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,4,9,10,10,9,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,5,9,10,10,9,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,5,1,1,10,1,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,1,5,4,2,3,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,1,6,5,1,5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,1,2,2,1,1,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,1,6,6,1,5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,1,5,5,3,5,4.8

In [38]:
score_num['총자산증가율점수'].value_counts()

총자산증가율점수
4.9    8083
0.7    8083
7.0    8083
2.8    8083
6.3    8082
5.6    8082
4.2    8082
3.5    8082
2.1    8082
1.4    8082
Name: count, dtype: int64

In [39]:
# 5. 매입채무회전기간 가중치

score_num['매입채무회전기간점수'] = score['매입채무회전기간점수'] * 0.6
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,1.8,7,8,10,7,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,1.8,9,9,10,9,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,2.4,9,10,10,9,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,3.0,9,10,10,9,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,3.0,1,1,10,1,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,0.6,5,4,2,3,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,0.6,6,5,1,5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,0.6,2,2,1,1,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,0.6,6,6,1,5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,0.6,5,5,3,5,4.8

In [40]:
score_num['매입채무회전기간점수'].value_counts()

매입채무회전기간점수
2.4    7881
4.2    7881
1.8    7880
3.0    7880
3.6    7880
1.2    7880
4.8    7880
5.4    7880
0.6    7486
6.0    6303
0.0    3993
Name: count, dtype: int64

In [41]:
# 6. 총자산사업이익률 가중치

score_num['총자산사업이익률점수'] = score['총자산사업이익률점수'] * 0.5
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,1.8,7,8,10,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,1.8,9,9,10,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,2.4,9,10,10,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,3.0,9,10,10,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,3.0,1,1,10,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,0.6,5,4,2,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,0.6,6,5,1,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,0.6,2,2,1,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,0.6,6,6,1,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,0.6,5,5,3,2.5,4.8

In [42]:
score_num['총자산사업이익률점수'].value_counts()

총자산사업이익률점수
3.5    8083
0.5    8083
5.0    8083
2.0    8083
4.5    8082
1.0    8082
1.5    8082
3.0    8082
4.0    8082
2.5    8082
Name: count, dtype: int64

In [43]:
# 7. 자기자본순이익률 가중치

score_num['자기자본순이익률점수'] = score['자기자본순이익률점수'] * 0.4
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,1.8,7,3.2,10,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,1.8,9,3.6,10,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,2.4,9,4.0,10,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,3.0,9,4.0,10,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,3.0,1,0.4,10,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,0.6,5,1.6,2,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,0.6,6,2.0,1,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,0.6,2,0.8,1,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,0.6,6,2.4,1,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,0.6,5,2.0,3,2.5,4.8

In [44]:
score_num['자기자본순이익률점수'].value_counts()

자기자본순이익률점수
4.0    8083
0.4    8083
1.6    8083
2.8    8083
3.2    8082
3.6    8082
2.4    8082
1.2    8082
0.8    8082
2.0    8082
Name: count, dtype: int64

In [45]:
# 8. 매출액순이익률 가중치

score_num['매출액순이익률점수'] = score['매출액순이익률점수'] * 0.3
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,1.8,2.1,3.2,10,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,1.8,2.7,3.6,10,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,2.4,2.7,4.0,10,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,3.0,2.7,4.0,10,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,3.0,0.3,0.4,10,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,0.6,1.5,1.6,2,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,0.6,1.8,2.0,1,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,0.6,0.6,0.8,1,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,0.6,1.8,2.4,1,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,0.6,1.5,2.0,3,2.5,4.8

In [46]:
score_num['매출액순이익률점수'].value_counts()

매출액순이익률점수
0.3    8083
3.0    8083
2.1    8082
2.7    8082
0.6    8082
1.8    8082
0.9    8082
1.2    8082
2.4    8082
1.5    8082
0.0       2
Name: count, dtype: int64

In [47]:
# 9. 금융비용 대 총비용비율 가중치

score_num['금융비용 대 총비용비율점수'] = score['금융비용 대 총비용비율점수'] * 0.2
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,5,4.9,1.8,2.1,3.2,2.0,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,5,6.3,1.8,2.7,3.6,2.0,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,6,5.6,2.4,2.7,4.0,2.0,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,4,6.3,3.0,2.7,4.0,2.0,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,4,5.6,3.0,0.3,0.4,2.0,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,2,5.6,0.6,1.5,1.6,0.4,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,9,2.8,0.6,1.8,2.0,0.2,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,3,4.9,0.6,0.6,0.8,0.2,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,7,4.9,0.6,1.8,2.4,0.2,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,7,2.1,0.6,1.5,2.0,0.6,2.5,4.8

In [48]:
score_num['금융비용 대 총비용비율점수'].value_counts()

금융비용 대 총비용비율점수
0.2    10107
2.0     8082
1.8     8082
1.6     8082
1.0     8082
0.8     8082
1.4     8082
1.2     8082
0.6     8082
0.4     6058
0.0        3
Name: count, dtype: int64

In [49]:
# 10. 재고자산증가율 가중치

score_num['재고자산증가율점수'] = score['재고자산증가율점수'] * 0.1
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,0.5,4.9,1.8,2.1,3.2,2.0,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,0.5,6.3,1.8,2.7,3.6,2.0,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,0.6,5.6,2.4,2.7,4.0,2.0,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,0.4,6.3,3.0,2.7,4.0,2.0,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,0.4,5.6,3.0,0.3,0.4,2.0,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,0.2,5.6,0.6,1.5,1.6,0.4,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,0.9,2.8,0.6,1.8,2.0,0.2,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,0.3,4.9,0.6,0.6,0.8,0.2,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,0.7,4.9,0.6,1.8,2.4,0.2,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,0.7,2.1,0.6,1.5,2.0,0.6,2.5,4.8

In [50]:
score_num['재고자산증가율점수'].value_counts()

재고자산증가율점수
0.5    7656
0.4    7656
0.2    7656
0.7    7656
0.9    7656
0.3    7656
0.8    7656
0.6    7655
0.0    6704
0.1    6441
1.0    6432
Name: count, dtype: int64

In [51]:
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,0.5,4.9,1.8,2.1,3.2,2.0,3.5,5.6
1,(주)DB하이텍,990,2012-03-01,9.0,10,0.5,6.3,1.8,2.7,3.6,2.0,4.5,6.4
2,(주)DB하이텍,990,2013-03-01,9.0,10,0.6,5.6,2.4,2.7,4.0,2.0,4.5,6.4
3,(주)DB하이텍,990,2014-03-01,9.0,10,0.4,6.3,3.0,2.7,4.0,2.0,4.5,5.6
4,(주)DB하이텍,990,2015-03-01,8.1,10,0.4,5.6,3.0,0.3,0.4,2.0,0.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,0.2,5.6,0.6,1.5,1.6,0.4,1.5,3.2
80820,흥구석유(주),24060,2019-12-01,4.5,1,0.9,2.8,0.6,1.8,2.0,0.2,2.5,5.6
80821,흥구석유(주),24060,2020-12-01,3.6,1,0.3,4.9,0.6,0.6,0.8,0.2,0.5,6.4
80822,흥구석유(주),24060,2021-12-01,3.6,1,0.7,4.9,0.6,1.8,2.4,0.2,2.5,4.8
80823,흥구석유(주),24060,2022-12-01,7.2,2,0.7,2.1,0.6,1.5,2.0,0.6,2.5,4.8

In [52]:
score_num.columns

Index(['회사명', '거래소코드', '회계년도', '순운전자본비율점수', '부채비율점수', '재고자산증가율점수', '총자산증가율점수',
       '매입채무회전기간점수', '매출액순이익률점수', '자기자본순이익률점수', '금융비용 대 총비용비율점수', '총자산사업이익률점수',
       '총자산투자효율점수'],
      dtype='object')

In [53]:
score_num['분기별 기업 위험 점수'] = score_num['순운전자본비율점수'] + score_num['부채비율점수'] + score_num['재고자산증가율점수'] + score_num['총자산증가율점수'] + score_num['매입채무회전기간점수'] + score_num['매출액순이익률점수'] + score_num['자기자본순이익률점수'] + score_num['금융비용 대 총비용비율점수'] +score_num['총자산사업이익률점수'] + score_num['총자산투자효율점수']

In [54]:
score_num

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,분기별 기업 위험 점수
0,(주)DB하이텍,990,2011-03-01,8.1,10,0.5,4.9,1.8,2.1,3.2,2.0,3.5,5.6,41.7
1,(주)DB하이텍,990,2012-03-01,9.0,10,0.5,6.3,1.8,2.7,3.6,2.0,4.5,6.4,46.8
2,(주)DB하이텍,990,2013-03-01,9.0,10,0.6,5.6,2.4,2.7,4.0,2.0,4.5,6.4,47.2
3,(주)DB하이텍,990,2014-03-01,9.0,10,0.4,6.3,3.0,2.7,4.0,2.0,4.5,5.6,47.5
4,(주)DB하이텍,990,2015-03-01,8.1,10,0.4,5.6,3.0,0.3,0.4,2.0,0.5,2.4,32.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80819,흥구석유(주),24060,2018-12-01,6.3,1,0.2,5.6,0.6,1.5,1.6,0.4,1.5,3.2,21.9
80820,흥구석유(주),24060,2019-12-01,4.5,1,0.9,2.8,0.6,1.8,2.0,0.2,2.5,5.6,21.9
80821,흥구석유(주),24060,2020-12-01,3.6,1,0.3,4.9,0.6,0.6,0.8,0.2,0.5,6.4,18.9
80822,흥구석유(주),24060,2021-12-01,3.6,1,0.7,4.9,0.6,1.8,2.4,0.2,2.5,4.8,22.5
80823,흥구석유(주),24060,2022-12-01,7.2,2,0.7,2.1,0.6,1.5,2.0,0.6,2.5,4.8,24.0

In [55]:
score_num['분기별 기업 위험 점수'].value_counts()

분기별 기업 위험 점수
34.0    323
33.5    298
35.0    290
33.0    290
32.5    286
       ...
6.6       1
44.3      1
23.5      1
27.9      1
52.1      1
Name: count, Length: 1626, dtype: int64

In [56]:
score_num.describe()

,거래소코드,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,분기별 기업 위험 점수
count,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.000000,80824.00000,80824.000000,80824.000000,80824.000000,80824.000000
mean,71194.206671,4.950000,5.500000,0.504329,3.850000,3.097449,1.649959,2.20000,1.094940,2.750000,4.400079,29.996756
std,74488.781862,2.585092,2.872325,0.308291,2.010627,1.793011,0.861734,1.14893,0.581404,1.436162,2.297915,8.975818
min,20.000000,0.900000,1.000000,0.000000,0.700000,0.000000,0.000000,0.40000,0.000000,0.500000,0.800000,4.800000
25%,14130.000000,2.700000,3.000000,0.200000,2.100000,1.800000,0.900000,1.20000,0.600000,1.500000,2.400000,23.400000
50%,49430.000000,4.950000,5.500000,0.500000,3.850000,3.000000,1.500000,2.20000,1.000000,2.750000,4.400000,30.100000
75%,95570.000000,7.200000,8.000000,0.800000,5.600000,4.800000,2.400000,3.20000,1.600000,4.000000,6.400000,36.500000
max,441270.000000,9.000000,10.000000,1.000000,7.000000,6.000000,3.000000,4.00000,2.000000,5.000000,8.000000,54.600000

---

## 2022년 베타값

In [57]:
beta = pd.read_csv('./코스피,코스닥 52주베타(2022.01~2022.12).csv')
beta

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,005930:,0.948765,NaN,NaN,NaN,NaN,NaN
1,373220:,0.956465,NaN,NaN,NaN,NaN,NaN
2,000660:,1.165619,NaN,NaN,NaN,NaN,NaN
3,207940:,0.671251,NaN,NaN,NaN,NaN,NaN
4,005490:,1.006510,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2605,438580:,-0.055640,NaN,NaN,NaN,NaN,NaN
2606,442130:,0.022187,NaN,NaN,NaN,NaN,NaN
2607,413600:,-0.056511,NaN,NaN,NaN,NaN,NaN
2608,021045:,0.143506,NaN,NaN,NaN,NaN,NaN
2609,032685:,0.380612,NaN,NaN,NaN,NaN,NaN

In [58]:
beta.columns = ['거래소코드', '베타계수', 0, 1, 2,  3 , 4]

In [59]:
beta.drop(columns = [0, 1, 2, 3, 4], inplace = True)

In [60]:
beta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610 entries, 0 to 2609
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   2610 non-null   object
 1   베타계수    2536 non-null   float64
dtypes: float64(1), object(1)
memory usage: 40.9+ KB

In [61]:
beta

         거래소코드      베타계수
0     005930:   0.948765
1     373220:   0.956465
2     000660:   1.165619
3     207940:   0.671251
4     005490:   1.006510
...        ...       ...
2605  438580:  -0.055640
2606  442130:   0.022187
2607  413600:  -0.056511
2608  021045:   0.143506
2609  032685:   0.380612

[2610 rows x 2 columns]

In [62]:
beta[beta['거래소코드'].str.contains('K')]

         거래소코드      베타계수
292   00680K:   0.546265
380   00088K:   0.644435
452   00104K:   0.650995
584   00279K:   0.654651
593   02826K:   0.738322
655   33626K:   1.431141
735   03473K:   0.837955
788   28513K:   1.240012
795   33637K:   1.206312
848   37550K:   0.843162
881   00499K:   0.501818
889   35320K:   1.166784
897   45014K:        NaN
908   38380K:   0.776471
911   18064K:   1.097255
912   45226K:        NaN
915   00806K:   0.598667
917   36328K:   0.878509
922   26490K:   1.209377
933   00781K:   0.743124
2548  03481K:   0.787086

In [63]:
# '거래소코드' 컬럼에서 'K' 값을 포함하는 행을 없애기
beta['거래소코드'] = beta['거래소코드'].str.replace('K', '')
beta['거래소코드'] = beta['거래소코드'].str.replace('L', '')
beta['거래소코드'] = beta['거래소코드'].str.replace('M', '')
beta['거래소코드'] = beta['거래소코드'].str.replace(':', '')
beta['거래소코드'] = beta['거래소코드'].str.replace(' ', '')

In [64]:
# 숫자로 변환 
beta['거래소코드'] = beta['거래소코드'].astype(int)

In [65]:
beta

       거래소코드      베타계수
0       5930  0.948765
1     373220  0.956465
2        660  1.165619
3     207940  0.671251
4       5490  1.006510
...      ...       ...
2605  438580 -0.055640
2606  442130  0.022187
2607  413600 -0.056511
2608   21045  0.143506
2609   32685  0.380612

[2610 rows x 2 columns]

In [66]:
score['회계년도'] = pd.to_datetime(score['회계년도'])
score_log['회계년도'] = pd.to_datetime(score_log['회계년도'])
score_num['회계년도'] = pd.to_datetime(score_num['회계년도'])

In [67]:
score['회계년'] = score['회계년도'].dt.year
score_log['회계년'] = score_log['회계년도'].dt.year
score_num['회계년'] = score_num['회계년도'].dt.year

## 베타계수 merge

In [68]:
score.shape

(80824, 14)

In [69]:
score = score.merge(beta, on='거래소코드')

In [70]:
score.loc[score['회계년'] != 2022, '베타계수'] = None

In [71]:
score_log = score_log.merge(beta, on='거래소코드')

In [72]:
score_log.loc[score_log['회계년'] != 2022, '베타계수'] = None

In [73]:
score_num = score_num.merge(beta, on='거래소코드')

In [74]:
score_num.loc[score_num['회계년'] != 2022, '베타계수'] = None

In [75]:
score

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,회계년,베타계수
0,(주)DB하이텍,990,2011-03-01,9,10,5,7,3,7,8,10,7,7,2011,NaN
1,(주)DB하이텍,990,2012-03-01,10,10,5,9,3,9,9,10,9,8,2012,NaN
2,(주)DB하이텍,990,2013-03-01,10,10,6,8,4,9,10,10,9,8,2013,NaN
3,(주)DB하이텍,990,2014-03-01,10,10,4,9,5,9,10,10,9,7,2014,NaN
4,(주)DB하이텍,990,2015-03-01,9,10,4,8,5,1,1,10,1,3,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80739,성일하이텍(주),365340,2022-12-01,4,4,10,1,4,6,6,8,6,5,2022,0.836064
80740,솔트웨어(주),328380,2022-12-01,1,5,1,10,4,2,1,5,1,3,2022,0.425133
80741,오픈엣지테크놀로지(주),394280,2022-12-01,2,5,0,8,0,10,10,6,10,10,2022,1.810769
80742,와이씨켐(주),112290,2022-12-01,6,6,10,3,4,6,6,9,6,6,2022,0.744152
80743,코닉오토메이션(주),391710,2022-12-01,1,4,1,10,3,1,1,1,1,1,2022,0.935808

---

# 표준편차 값

In [76]:
std = pd.read_csv('./기업별 표준편차.csv')
std

         거래소코드     기업별 표준편차
0     000020:   1756.762453
1     000040:    113.098823
2     000050:   1751.253894
3     000070:   9390.797065
4     000075:   3264.371220
...        ...          ...
2532  950170:    548.960993
2533  950190:   2385.855158
2534  950200:    901.141292
2535  950210:   3830.087148
2536  950220:   1683.803310

[2537 rows x 2 columns]

In [77]:
std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   거래소코드     2537 non-null   object
 1   기업별 표준편차  2536 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.8+ KB

In [78]:
std['거래소코드'] = std['거래소코드'].str.replace(':', '')

In [79]:
std

        거래소코드     기업별 표준편차
0     000020   1756.762453
1     000040    113.098823
2     000050   1751.253894
3     000070   9390.797065
4     000075   3264.371220
...       ...          ...
2532  950170    548.960993
2533  950190   2385.855158
2534  950200    901.141292
2535  950210   3830.087148
2536  950220   1683.803310

[2537 rows x 2 columns]

In [80]:
std['거래소코드'] = std['거래소코드'].str.replace('K', '')
std['거래소코드'] = std['거래소코드'].str.replace('L', '')
std['거래소코드'] = std['거래소코드'].str.replace('M', '')
std['거래소코드'] = std['거래소코드'].str.replace(':', '')
std['거래소코드'] = std['거래소코드'].str.replace(' ', '')

In [81]:
# 숫자로 변환 
std['거래소코드'] = std['거래소코드'].astype(int)

In [82]:
std

       거래소코드     기업별 표준편차
0         20  1756.762453
1         40   113.098823
2         50  1751.253894
3         70  9390.797065
4         75  3264.371220
...      ...          ...
2532  950170   548.960993
2533  950190  2385.855158
2534  950200   901.141292
2535  950210  3830.087148
2536  950220  1683.803310

[2537 rows x 2 columns]

## 표준편차 merge

In [83]:
score = score.merge(std, on='거래소코드')

In [84]:
score

,회사명,거래소코드,회계년도,순운전자본비율점수,부채비율점수,재고자산증가율점수,총자산증가율점수,매입채무회전기간점수,매출액순이익률점수,자기자본순이익률점수,금융비용 대 총비용비율점수,총자산사업이익률점수,총자산투자효율점수,회계년,베타계수,기업별 표준편차
0,(주)DB하이텍,990,2011-03-01,9,10,5,7,3,7,8,10,7,7,2011,NaN,14408.841003
1,(주)DB하이텍,990,2012-03-01,10,10,5,9,3,9,9,10,9,8,2012,NaN,14408.841003
2,(주)DB하이텍,990,2013-03-01,10,10,6,8,4,9,10,10,9,8,2013,NaN,14408.841003
3,(주)DB하이텍,990,2014-03-01,10,10,4,9,5,9,10,10,9,7,2014,NaN,14408.841003
4,(주)DB하이텍,990,2015-03-01,9,10,4,8,5,1,1,10,1,3,2015,NaN,14408.841003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80835,성일하이텍(주),365340,2022-12-01,4,4,10,1,4,6,6,8,6,5,2022,0.836064,18188.736678
80836,솔트웨어(주),328380,2022-12-01,1,5,1,10,4,2,1,5,1,3,2022,0.425133,437.370945
80837,오픈엣지테크놀로지(주),394280,2022-12-01,2,5,0,8,0,10,10,6,10,10,2022,1.810769,1324.180127
80838,와이씨켐(주),112290,2022-12-01,6,6,10,3,4,6,6,9,6,6,2022,0.744152,1403.442638
80839,코닉오토메이션(주),391710,2022-12-01,1,4,1,10,3,1,1,1,1,1,2022,0.935808,1040.986205

In [85]:
score_log = score_log.merge(std, on='거래소코드')

In [86]:
score_num = score_num.merge(std, on='거래소코드')

In [87]:
score.loc[score['회계년'] != 2022, '기업별 표준편차'] = None
score_log.loc[score_log['회계년'] != 2022, '기업별 표준편차'] = None
score_num.loc[score_num['회계년'] != 2022, '기업별 표준편차'] = None

---

In [89]:
score.to_csv('기본 score.csv', index = False)