In [1]:
import pandas as pd
import numpy as np

# KOSPI

In [2]:
KOSPI = pd.read_csv('./datasets/KOSPI_연결개별.csv')

In [3]:
# 데이터 정보 확인
KOSPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8824 entries, 0 to 8823
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           8824 non-null   object
 1   거래소코드         8824 non-null   int64
 2   회계년도          8824 non-null   object
 3   상장일           8824 non-null   object
 4   상장폐지일         334 non-null    object
 5   소속코드          8824 non-null   int64
 6   유동비율          8610 non-null   float64
 7   당좌비율          8610 non-null   float64
 8   현금비율          8611 non-null   float64
 9   순운전자본비율       8610 non-null   float64
 10  부채비율          8610 non-null   float64
 11  자기자본배율        8610 non-null   float64
 12  이자보상배율(이자비용)  8610 non-null   float64
 13  비유동비율         8610 non-null   float64
 14  유동자산구성비율      8610 non-null   float64
 15  자기자본구성비율      8610 non-null   float64
 16  차입금의존도        8610 non-null   float64
 17  매출액증가율        8610 non-null   float64
 18  총자본증가율        8610 non-null   float64
 19  자기자본증가율       8610 non-null   float64
 20  순이익증가율        8610 non-null   float64
 21  유형자산증가율       8610 non-null   float64
 22  비유동자산증가율      8610 non-null   float64
 23  유동자산증가율       8610 non-null   float64
 24  재고자산증가율       8610 non-null   float64
 25  매출액총이익률       8610 non-null   float64
 26  매출액순이익률       8610 non-null   float64
 27  총자본사업이익률      8610 non-null   float64
 28  총자본순이익률       8610 non-null   float64
 29  자기자본순이익률      8610 non-null   float64
 30  1주당순이익        8610 non-null   float64
 31  1주당매출액        8610 non-null   float64
 32  금융비용 대 총비용비율  8610 non-null   float64
 33  총자본회전률        8610 non-null   float64
 34  자기자본회전률       8610 non-null   float64
 35  비유동자산회전률      8610 non-null   float64
 36  재고자산회전률       8610 non-null   float64
 37  매출채권회전률       8610 non-null   float64
 38  매입채무회전률       8610 non-null   float64
 39  매입채무회전기간      8610 non-null   float64
 40  재고자산회전기간      8610 non-null   float64
 41  매출채권회전기간      8610 non-null   float64
 42  1회전기간         8610 non-null   float64
 43  운전자본회전률       8610 non-null   float64
 44  순운전자본회전률      8610 non-null   float64
 45  유형자산회전율       8610 non-null   float64
 46  유동자산회전률       8610 non-null   float64
 47  당좌자산회전률       8610 non-null   float64
 48  부가가치          8610 non-null   float64
 49  총자본투자효율       8610 non-null   float64
 50  설비투자효율        8610 non-null   float64
 51  기계투자효율        8610 non-null   float64
 52  부가가치율         8610 non-null   float64
 53  노동소득분배율       8610 non-null   float64
 54  자본분배율         8610 non-null   float64
 55  이윤분배율         8610 non-null   float64
 56  폐지사유          334 non-null    object
dtypes: float64(50), int64(2), object(5)
memory usage: 3.8+ MB

In [4]:
# 회사 갯수
len(KOSPI['회사명'].unique())

808

In [5]:
# 결측치 214개
KOSPI.isna().sum()

회사명                0
거래소코드              0
회계년도               0
상장일                0
상장폐지일           8490
소속코드               0
유동비율             214
당좌비율             214
현금비율             213
순운전자본비율          214
부채비율             214
자기자본배율           214
이자보상배율(이자비용)     214
비유동비율            214
유동자산구성비율         214
자기자본구성비율         214
차입금의존도           214
매출액증가율           214
총자본증가율           214
자기자본증가율          214
순이익증가율           214
유형자산증가율          214
비유동자산증가율         214
유동자산증가율          214
재고자산증가율          214
매출액총이익률          214
매출액순이익률          214
총자본사업이익률         214
총자본순이익률          214
자기자본순이익률         214
1주당순이익           214
1주당매출액           214
금융비용 대 총비용비율     214
총자본회전률           214
자기자본회전률          214
비유동자산회전률         214
재고자산회전률          214
매출채권회전률          214
매입채무회전률          214
매입채무회전기간         214
재고자산회전기간         214
매출채권회전기간         214
1회전기간            214
운전자본회전률          214
순운전자본회전률         214
유형자산회전율          214
유동자산회전률          214
당좌자산회전률          214
부가가치             214
총자본투자효율          214
설비투자효율           214
기계투자효율           214
부가가치율            214
노동소득분배율          214
자본분배율            214
이윤분배율            214
폐지사유            8490
dtype: int64

In [6]:
KOSPI.shape

(8824, 57)

In [7]:
# 데이터 기술통계량
KOSPI.describe()

,거래소코드,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,부채비율,자기자본배율,이자보상배율(이자비용),비유동비율,...,유동자산회전률,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율
count,8824.000000,8824.000000,8610.000000,8610.000000,8611.000000,8610.000000,8610.000000,8.610000e+03,8.610000e+03,8610.000000,...,8610.000000,8610.000000,8.610000e+03,8610.000000,8610.000000,8.610000e+03,8610.000000,8610.000000,8610.000000,8610.000000
mean,51115.356981,1.140752,196.734131,152.726692,38.906792,12.385202,171.184736,3.234785e+03,2.392622e+07,147.813338,...,2.258189,3.251075,6.232801e+05,18.018904,138.940373,7.631135e+06,19.980043,68.897410,25.121173,-7.415728
std,88445.205183,0.612609,244.140262,224.465244,96.634981,22.200549,1242.013135,5.398978e+04,1.528264e+08,783.506642,...,1.284825,2.316344,3.782319e+06,17.654958,1930.239973,2.006105e+08,108.635823,199.915968,199.259930,350.833487
min,20.000000,1.000000,5.030000,3.850000,0.000000,-212.640000,0.000000,-2.940780e+03,-1.037971e+06,0.000000,...,0.010000,0.010000,-1.122230e+07,-273.810000,-140649.330000,-1.564006e+09,-8756.980000,0.000000,-9429.430000,-10582.590000
25%,4830.000000,1.000000,95.257500,64.440000,8.430000,-1.725000,44.275000,4.033975e+02,1.090000e+00,71.795000,...,1.480000,1.900000,3.050382e+04,10.502500,31.600000,9.002250e+01,12.570000,37.492500,24.890000,0.050000
50%,12750.000000,1.000000,135.955000,99.160000,19.550000,11.710000,91.555000,1.098190e+03,4.740000e+00,103.225000,...,2.040000,2.895000,8.386683e+04,16.380000,55.860000,2.331100e+02,19.880000,53.715000,42.625000,14.750000
75%,69460.000000,1.000000,206.980000,159.972500,40.110000,26.065000,163.552500,2.405918e+03,1.865500e+01,149.565000,...,2.760000,4.050000,2.706750e+05,23.677500,99.305000,7.245825e+02,28.710000,69.925000,58.210000,28.647500
max,950070.000000,4.000000,5870.880000,5173.140000,3155.080000,95.890000,84510.240000,4.963848e+06,1.000000e+09,62205.430000,...,20.520000,65.480000,1.212577e+08,233.670000,50120.030000,1.339152e+10,2868.630000,9529.430000,99.890000,13596.900000

In [8]:
KOSPI

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유
0,(주)DB하이텍,990,2011/12,1975/12/12,NaN,1,35.20,25.50,5.04,-42.95,...,2.54,217837.57,18.17,29.75,7.890000e+01,39.45,62.53,37.47,-44.96,NaN
1,(주)DB하이텍,990,2012/12,1975/12/12,NaN,1,55.66,41.39,7.19,-21.27,...,2.73,245655.23,21.22,37.03,1.122200e+02,41.58,55.93,44.07,-12.76,NaN
2,(주)DB하이텍,990,2013/12,1975/12/12,NaN,1,46.76,31.58,7.39,-23.99,...,2.60,191554.48,18.10,31.86,1.124500e+02,38.80,67.15,32.85,-43.35,NaN
3,(주)DB하이텍,990,2014/12,1975/12/12,NaN,1,65.77,47.39,10.72,-13.08,...,3.45,187341.51,19.02,33.99,1.369700e+02,33.00,68.59,31.41,-41.11,NaN
4,(주)DB하이텍,990,2015/12,1975/12/12,NaN,1,138.40,104.20,44.31,9.52,...,3.08,386127.30,39.21,78.88,2.302400e+02,57.93,35.93,64.07,32.82,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018/12,1976/06/29,NaN,1,34.67,28.66,4.89,-25.40,...,8.14,34054.90,4.24,6.91,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN
8820,흥아해운(주),3280,2019/12,1976/06/29,NaN,1,46.36,42.55,6.75,-25.18,...,1.16,13366.25,3.10,5.59,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN
8821,흥아해운(주),3280,2020/12,1976/06/29,NaN,1,38.67,33.73,3.21,-32.68,...,1.29,-1108.19,-0.39,-0.62,0.000000e+00,-1.25,0.00,0.00,0.00,NaN
8822,흥아해운(주),3280,2021/12,1976/06/29,NaN,1,207.21,181.62,143.19,11.56,...,1.63,56593.70,22.88,39.81,0.000000e+00,69.25,41.38,58.62,29.04,NaN
8823,흥아해운(주),3280,2022/12,1976/06/29,NaN,1,159.54,145.53,92.35,12.36,...,2.47,68343.41,21.56,41.26,0.000000e+00,38.43,50.36,49.64,34.84,NaN

In [9]:
# 날짜 데이터 datetime 변경
KOSPI["상장일"] = pd.to_datetime(KOSPI['상장일'])
KOSPI["상장폐지일"] = pd.to_datetime(KOSPI['상장폐지일'])
KOSPI["회계년도"] = pd.to_datetime(KOSPI["회계년도"])
KOSPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8824 entries, 0 to 8823
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           8824 non-null   object
 1   거래소코드         8824 non-null   int64
 2   회계년도          8824 non-null   datetime64[ns]
 3   상장일           8824 non-null   datetime64[ns]
 4   상장폐지일         334 non-null    datetime64[ns]
 5   소속코드          8824 non-null   int64
 6   유동비율          8610 non-null   float64
 7   당좌비율          8610 non-null   float64
 8   현금비율          8611 non-null   float64
 9   순운전자본비율       8610 non-null   float64
 10  부채비율          8610 non-null   float64
 11  자기자본배율        8610 non-null   float64
 12  이자보상배율(이자비용)  8610 non-null   float64
 13  비유동비율         8610 non-null   float64
 14  유동자산구성비율      8610 non-null   float64
 15  자기자본구성비율      8610 non-null   float64
 16  차입금의존도        8610 non-null   float64
 17  매출액증가율        8610 non-null   float64
 18  총자본증가율        8610 non-null   float64
 19  자기자본증가율       8610 non-null   float64
 20  순이익증가율        8610 non-null   float64
 21  유형자산증가율       8610 non-null   float64
 22  비유동자산증가율      8610 non-null   float64
 23  유동자산증가율       8610 non-null   float64
 24  재고자산증가율       8610 non-null   float64
 25  매출액총이익률       8610 non-null   float64
 26  매출액순이익률       8610 non-null   float64
 27  총자본사업이익률      8610 non-null   float64
 28  총자본순이익률       8610 non-null   float64
 29  자기자본순이익률      8610 non-null   float64
 30  1주당순이익        8610 non-null   float64
 31  1주당매출액        8610 non-null   float64
 32  금융비용 대 총비용비율  8610 non-null   float64
 33  총자본회전률        8610 non-null   float64
 34  자기자본회전률       8610 non-null   float64
 35  비유동자산회전률      8610 non-null   float64
 36  재고자산회전률       8610 non-null   float64
 37  매출채권회전률       8610 non-null   float64
 38  매입채무회전률       8610 non-null   float64
 39  매입채무회전기간      8610 non-null   float64
 40  재고자산회전기간      8610 non-null   float64
 41  매출채권회전기간      8610 non-null   float64
 42  1회전기간         8610 non-null   float64
 43  운전자본회전률       8610 non-null   float64
 44  순운전자본회전률      8610 non-null   float64
 45  유형자산회전율       8610 non-null   float64
 46  유동자산회전률       8610 non-null   float64
 47  당좌자산회전률       8610 non-null   float64
 48  부가가치          8610 non-null   float64
 49  총자본투자효율       8610 non-null   float64
 50  설비투자효율        8610 non-null   float64
 51  기계투자효율        8610 non-null   float64
 52  부가가치율         8610 non-null   float64
 53  노동소득분배율       8610 non-null   float64
 54  자본분배율         8610 non-null   float64
 55  이윤분배율         8610 non-null   float64
 56  폐지사유          334 non-null    object
dtypes: datetime64[ns](3), float64(50), int64(2), object(2)
memory usage: 3.8+ MB

## 타겟 데이터 생성
- 부실인 경우 1, 부실 아닌 경우 0
- 상폐시점(t)이라면 상폐시점(t-1) 데이터를 1, 아닌 경우 0

In [10]:
# 타겟 데이터인 부실여부 생성

KOSPI['부실여부'] = np.where((KOSPI['소속코드'] == 4) & (KOSPI['회계년도'].dt.year == KOSPI['상장폐지일'].dt.year -1), 1, 0)
KOSPI

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,217837.57,18.17,29.75,7.890000e+01,39.45,62.53,37.47,-44.96,NaN,0
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,245655.23,21.22,37.03,1.122200e+02,41.58,55.93,44.07,-12.76,NaN,0
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,191554.48,18.10,31.86,1.124500e+02,38.80,67.15,32.85,-43.35,NaN,0
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,187341.51,19.02,33.99,1.369700e+02,33.00,68.59,31.41,-41.11,NaN,0
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,386127.30,39.21,78.88,2.302400e+02,57.93,35.93,64.07,32.82,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018-12-01,1976-06-29,NaT,1,34.67,28.66,4.89,-25.40,...,34054.90,4.24,6.91,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN,0
8820,흥아해운(주),3280,2019-12-01,1976-06-29,NaT,1,46.36,42.55,6.75,-25.18,...,13366.25,3.10,5.59,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN,0
8821,흥아해운(주),3280,2020-12-01,1976-06-29,NaT,1,38.67,33.73,3.21,-32.68,...,-1108.19,-0.39,-0.62,0.000000e+00,-1.25,0.00,0.00,0.00,NaN,0
8822,흥아해운(주),3280,2021-12-01,1976-06-29,NaT,1,207.21,181.62,143.19,11.56,...,56593.70,22.88,39.81,0.000000e+00,69.25,41.38,58.62,29.04,NaN,0
8823,흥아해운(주),3280,2022-12-01,1976-06-29,NaT,1,159.54,145.53,92.35,12.36,...,68343.41,21.56,41.26,0.000000e+00,38.43,50.36,49.64,34.84,NaN,0

In [11]:
KOSPI['부실여부'].value_counts()

0    8772
1      52
Name: 부실여부, dtype: int64

In [12]:
KOSPI['부실여부'].value_counts(property)

0    0.994107
1    0.005893
Name: 부실여부, dtype: float64

In [13]:
KOSPI[KOSPI['부실여부'] == 1]['회사명']

347            (주)넥솔론
445           (주)다함이텍
499         (주)대성합동지주
758           (주)동성화학
785         (주)동양건설산업
1015          (주)배명금속
1069        (주)보루네오가구
1189          (주)사조해표
1216          (주)삼양엔텍
1637          (주)신일건업
1658            (주)신한
1814        (주)알앤엘바이오
1852     (주)에스와이코퍼레이션
2033         (주)엔에스쇼핑
2804          (주)중앙건설
3314         (주)티이씨앤코
3317           (주)파브코
3370        (주)포스코플랜텍
3723    (주)한화갤러리아타임월드
3724        (주)허메스홀딩스
4091       STX조선해양(주)
4131          경남기업(주)
4136         경남에너지(주)
4181          고려개발(주)
4315          글로스텍(주)
4490         대덕GDS(주)
4590       대우자동차판매(주)
4950          두산건설(주)
5189          롯데푸드(주)
5505         삼성물산(주)1
5780          삼환기업(주)
5902          성지건설(주)
6273        알보젠코리아(주)
6349         에스케이(주)1
6778       연합과기공고유한공사
6847         웅진에너지(주)
7219        제이에스전선(주)
7234          제일모직(주)
7326       중국고섬공고유한공사
7332       중국원양자원유한공사
7551      코리아오토글라스(주)
7618       코오롱머티리얼(주)
7643      코원에너지서비스(주)
7714         태림페이퍼(주)
7863       평산차업집단유한공사
7912          풍림산업(주)
8087        한국유리공업(주)
8120          한국제지(주)
8420          한일건설(주)
8538       한화화인케미칼(주)
8715         현대페인트(주)
8719        현대하이스코(주)
Name: 회사명, dtype: object

In [14]:
KOSPI.shape

(8824, 58)

## 부실 기업인데 과거 데이터가 타겟 값이 0인 경우 데이터 삭제

In [15]:
# 부실 기업인데 과거 데이터가 타겟 값이 0인 경우 데이터 삭제

부실회사명 = KOSPI[KOSPI["부실여부"] == 1]['회사명'].unique()

for i in 부실회사명:
    drop_ind = KOSPI[(KOSPI['회사명'].isin(부실회사명)) & (KOSPI['부실여부'] == 0)].index
    KOSPI.drop(drop_ind, axis = 0, inplace = True)

KOSPI

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,217837.57,18.17,29.75,7.890000e+01,39.45,62.53,37.47,-44.96,NaN,0
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,245655.23,21.22,37.03,1.122200e+02,41.58,55.93,44.07,-12.76,NaN,0
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,191554.48,18.10,31.86,1.124500e+02,38.80,67.15,32.85,-43.35,NaN,0
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,187341.51,19.02,33.99,1.369700e+02,33.00,68.59,31.41,-41.11,NaN,0
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,386127.30,39.21,78.88,2.302400e+02,57.93,35.93,64.07,32.82,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018-12-01,1976-06-29,NaT,1,34.67,28.66,4.89,-25.40,...,34054.90,4.24,6.91,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN,0
8820,흥아해운(주),3280,2019-12-01,1976-06-29,NaT,1,46.36,42.55,6.75,-25.18,...,13366.25,3.10,5.59,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN,0
8821,흥아해운(주),3280,2020-12-01,1976-06-29,NaT,1,38.67,33.73,3.21,-32.68,...,-1108.19,-0.39,-0.62,0.000000e+00,-1.25,0.00,0.00,0.00,NaN,0
8822,흥아해운(주),3280,2021-12-01,1976-06-29,NaT,1,207.21,181.62,143.19,11.56,...,56593.70,22.88,39.81,0.000000e+00,69.25,41.38,58.62,29.04,NaN,0
8823,흥아해운(주),3280,2022-12-01,1976-06-29,NaT,1,159.54,145.53,92.35,12.36,...,68343.41,21.56,41.26,0.000000e+00,38.43,50.36,49.64,34.84,NaN,0

In [16]:
KOSPI.shape

(8614, 58)

In [17]:
KOSPI['부실여부'].value_counts()

0    8562
1      52
Name: 부실여부, dtype: int64

In [18]:
KOSPI['부실여부'].value_counts(property)

0    0.993963
1    0.006037
Name: 부실여부, dtype: float64

## 상폐가 아니라고 판단하는 사유
- 신청에 의한 상장폐지, 지주회사의 완전자회사화(지주회사 신규상장), 종목별 상장폐지신청, 지주회사(최대주주등)의 완전자회사화 등 컬럼을 부실여부 0으로 변경

In [15]:
KOSPI["폐지사유"].unique()

array([nan, '자본전액잠식', '매출액 미달(50억원 미만) 2년 계속', '해산 사유 발생', '감사의견 의견거절',
       '최종부도발생',
       '기업의 계속성, 경영의 투명성 및 기타 공익과 투자자 보호 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정',
       '지주회사(최대주주등)의 완전자회사화 등', '감사의견 의견거절 2년 계속', '신청에 의한 상장폐지',
       '보통주 주가수준미달', '공시서류 미제출(사업보고서) 후 10일이내 미제출', '시가총액 미달'],
      dtype=object)

In [16]:
KOSPI.loc[KOSPI['폐지사유'] == '신청에 의한 상장폐지', '부실여부'] = 0

In [17]:
KOSPI.loc[KOSPI['폐지사유'] == '지주회사(최대주주등)의 완전자회사화 등', '부실여부'] = 0

In [18]:
# 상장폐지일 2011년도 이전 데이터 있는지 확인
KOSPI[KOSPI["상장폐지일"].dt.year <  2011]

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 상장일, 상장폐지일, 소속코드, 유동비율, 당좌비율, 현금비율, 순운전자본비율, 부채비율, 자기자본배율, 이자보상배율(이자비용), 비유동비율, 유동자산구성비율, 자기자본구성비율, 차입금의존도, 매출액증가율, 총자본증가율, 자기자본증가율, 순이익증가율, 유형자산증가율, 비유동자산증가율, 유동자산증가율, 재고자산증가율, 매출액총이익률, 매출액순이익률, 총자본사업이익률, 총자본순이익률, 자기자본순이익률, 1주당순이익, 1주당매출액, 금융비용 대 총비용비율, 총자본회전률, 자기자본회전률, 비유동자산회전률, 재고자산회전률, 매출채권회전률, 매입채무회전률, 매입채무회전기간, 재고자산회전기간, 매출채권회전기간, 1회전기간, 운전자본회전률, 순운전자본회전률, 유형자산회전율, 유동자산회전률, 당좌자산회전률, 부가가치, 총자본투자효율, 설비투자효율, 기계투자효율, 부가가치율, 노동소득분배율, 자본분배율, 이윤분배율, 폐지사유, 부실여부]
Index: []

[0 rows x 58 columns]

In [19]:
KOSPI['부실여부'].value_counts()

0    8573
1      41
Name: 부실여부, dtype: int64

In [20]:
KOSPI['부실여부'].value_counts(property)

0    0.99524
1    0.00476
Name: 부실여부, dtype: float64

### 상장년도 이전의 과거 데이터 값 삭제

In [21]:
# 상장일보다 앞서거나 같은 회계년도 삭제하기 위해 연차 컬럼 생성

KOSPI["상장년도"]  = KOSPI["상장일"].dt.year
KOSPI["회계년"]  = KOSPI["회계년도"].dt.year
KOSPI["연차"] = KOSPI["회계년"] - KOSPI["상장년도"]

In [22]:
# 연차 값이 음수거나 0인 값 확인
KOSPI[KOSPI["연차"] <= 0]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
156,(주)경동도시가스,267290,2017-12-01,2017-05-12,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2017,2017,0
186,(주)경보제약,214390,2011-12-01,2015-06-29,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2015,2011,-4
187,(주)경보제약,214390,2012-12-01,2015-06-29,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2015,2012,-3
188,(주)경보제약,214390,2013-12-01,2015-06-29,NaT,1,139.91,86.67,8.16,16.83,...,541.49,31.31,38.50,61.50,35.49,NaN,0,2015,2013,-2
189,(주)경보제약,214390,2014-12-01,2015-06-29,NaT,1,113.85,63.50,8.12,7.06,...,379.08,36.87,37.49,62.51,13.80,NaN,0,2015,2014,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8726,호전실업(주),111110,2017-12-01,2017-02-02,NaT,1,137.58,78.93,10.49,19.28,...,75947.49,36.84,85.44,14.56,3.66,NaN,0,2017,2017,0
8792,효성중공업(주),298040,2018-12-01,2018-07-13,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018,0
8797,효성첨단소재(주),298050,2018-12-01,2018-07-13,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018,0
8802,효성티앤씨(주),298020,2018-12-01,2018-07-13,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018,0
8807,효성화학(주),298000,2018-12-01,2018-07-13,NaT,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018,0

In [23]:
# 양수인 값만 저장
KOSPI = KOSPI[KOSPI['연차'] > 0]
KOSPI

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,7.890000e+01,39.45,62.53,37.47,-44.96,NaN,0,1975,2011,36
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,1.122200e+02,41.58,55.93,44.07,-12.76,NaN,0,1975,2012,37
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,1.124500e+02,38.80,67.15,32.85,-43.35,NaN,0,1975,2013,38
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,1.369700e+02,33.00,68.59,31.41,-41.11,NaN,0,1975,2014,39
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,2.302400e+02,57.93,35.93,64.07,32.82,NaN,0,1975,2015,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018-12-01,1976-06-29,NaT,1,34.67,28.66,4.89,-25.40,...,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN,0,1976,2018,42
8820,흥아해운(주),3280,2019-12-01,1976-06-29,NaT,1,46.36,42.55,6.75,-25.18,...,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN,0,1976,2019,43
8821,흥아해운(주),3280,2020-12-01,1976-06-29,NaT,1,38.67,33.73,3.21,-32.68,...,0.000000e+00,-1.25,0.00,0.00,0.00,NaN,0,1976,2020,44
8822,흥아해운(주),3280,2021-12-01,1976-06-29,NaT,1,207.21,181.62,143.19,11.56,...,0.000000e+00,69.25,41.38,58.62,29.04,NaN,0,1976,2021,45
8823,흥아해운(주),3280,2022-12-01,1976-06-29,NaT,1,159.54,145.53,92.35,12.36,...,0.000000e+00,38.43,50.36,49.64,34.84,NaN,0,1976,2022,46

In [24]:
KOSPI.shape

(7953, 61)

In [25]:
# 회사 갯수
len(KOSPI['회사명'].unique())

800

In [26]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [27]:
# 결측치 1개 확인
KOSPI.isna().sum()

회사명                0
거래소코드              0
회계년도               0
상장일                0
상장폐지일           7829
소속코드               0
유동비율               1
당좌비율               1
현금비율               0
순운전자본비율            1
부채비율               1
자기자본배율             1
이자보상배율(이자비용)       1
비유동비율              1
유동자산구성비율           1
자기자본구성비율           1
차입금의존도             1
매출액증가율             1
총자본증가율             1
자기자본증가율            1
순이익증가율             1
유형자산증가율            1
비유동자산증가율           1
유동자산증가율            1
재고자산증가율            1
매출액총이익률            1
매출액순이익률            1
총자본사업이익률           1
총자본순이익률            1
자기자본순이익률           1
1주당순이익             1
1주당매출액             1
금융비용 대 총비용비율       1
총자본회전률             1
자기자본회전률            1
비유동자산회전률           1
재고자산회전률            1
매출채권회전률            1
매입채무회전률            1
매입채무회전기간           1
재고자산회전기간           1
매출채권회전기간           1
1회전기간              1
운전자본회전률            1
순운전자본회전률           1
유형자산회전율            1
유동자산회전률            1
당좌자산회전률            1
부가가치               1
총자본투자효율            1
설비투자효율             1
기계투자효율             1
부가가치율              1
노동소득분배율            1
자본분배율              1
이윤분배율              1
폐지사유            7829
부실여부               0
상장년도               0
회계년                0
연차                 0
dtype: int64

In [28]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

### 외국계 기업 삭제

In [29]:
# 외국계 기업 확인
KOSPI[KOSPI["거래소코드"] > 900000]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
6722,엘브이엠씨홀딩스(주),900140,2011-12-01,2010-11-30,NaT,1,613.80,232.18,29.48,74.33,...,0.00,36.95,11.35,88.65,31.99,NaN,0,2010,2011,1
6723,엘브이엠씨홀딩스(주),900140,2012-12-01,2010-11-30,NaT,1,413.31,193.93,57.86,59.33,...,0.00,28.47,15.53,84.47,37.18,NaN,0,2010,2012,2
6724,엘브이엠씨홀딩스(주),900140,2013-12-01,2010-11-30,NaT,1,584.72,431.53,205.38,65.62,...,0.00,15.70,29.87,70.13,52.81,NaN,0,2010,2013,3
6725,엘브이엠씨홀딩스(주),900140,2014-12-01,2010-11-30,NaT,1,270.12,186.65,30.63,31.61,...,0.00,18.84,24.95,75.05,58.68,NaN,0,2010,2014,4
6726,엘브이엠씨홀딩스(주),900140,2015-12-01,2010-11-30,NaT,1,168.07,95.46,8.85,17.74,...,0.00,20.03,27.38,72.62,52.63,NaN,0,2010,2015,5
6727,엘브이엠씨홀딩스(주),900140,2016-12-01,2010-11-30,NaT,1,112.02,65.88,3.25,4.36,...,0.00,23.27,30.10,69.90,45.58,NaN,0,2010,2016,6
6728,엘브이엠씨홀딩스(주),900140,2017-12-01,2010-11-30,NaT,1,191.15,100.18,13.42,25.41,...,0.00,21.86,39.30,60.70,18.64,NaN,0,2010,2017,7
6729,엘브이엠씨홀딩스(주),900140,2018-12-01,2010-11-30,NaT,1,161.89,87.84,11.51,21.50,...,0.00,12.26,83.45,16.55,-136.00,NaN,0,2010,2018,8
6730,엘브이엠씨홀딩스(주),900140,2019-12-01,2010-11-30,NaT,1,116.91,64.84,4.30,6.98,...,0.00,10.31,77.29,22.71,-148.25,NaN,0,2010,2019,9
6731,엘브이엠씨홀딩스(주),900140,2020-12-01,2010-11-30,NaT,1,132.70,88.87,15.17,11.57,...,0.00,15.05,42.22,57.78,-59.52,NaN,0,2010,2020,10
6732,엘브이엠씨홀딩스(주),900140,2021-12-01,2010-11-30,NaT,1,115.69,62.93,10.16,4.93,...,0.00,15.84,50.39,49.61,-60.34,NaN,0,2010,2021,11
6733,엘브이엠씨홀딩스(주),900140,2022-12-01,2010-11-30,NaT,1,90.87,39.67,7.09,-3.17,...,0.00,6.68,107.71,-7.71,-238.53,NaN,0,2010,2022,12
6778,연합과기공고유한공사,900030,2011-12-01,2008-12-04,2012-09-14,4,74.78,64.69,27.90,-21.14,...,-888.11,-108.18,0.00,0.00,0.00,감사의견 의견거절,1,2008,2011,3
7326,중국고섬공고유한공사,950070,2012-12-01,2011-01-25,2013-10-11,4,34.31,29.19,1.94,-27.94,...,-23.77,-13.64,0.00,0.00,0.00,감사의견 의견거절,1,2011,2012,1
7332,중국원양자원유한공사,900050,2016-12-01,2009-05-22,2017-09-27,4,11.48,11.48,0.02,-40.43,...,-1745293.57,-122.19,0.00,0.00,0.00,감사의견 의견거절,1,2009,2016,7
7863,평산차업집단유한공사,950010,2014-12-01,2007-11-26,2015-11-05,4,211.56,191.99,169.62,19.51,...,0.00,-70.25,0.00,0.00,0.00,시가총액 미달,1,2007,2014,7

In [30]:
KOSPI.loc[KOSPI["거래소코드"] <= 900000]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,7.890000e+01,39.45,62.53,37.47,-44.96,NaN,0,1975,2011,36
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,1.122200e+02,41.58,55.93,44.07,-12.76,NaN,0,1975,2012,37
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,1.124500e+02,38.80,67.15,32.85,-43.35,NaN,0,1975,2013,38
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,1.369700e+02,33.00,68.59,31.41,-41.11,NaN,0,1975,2014,39
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,2.302400e+02,57.93,35.93,64.07,32.82,NaN,0,1975,2015,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018-12-01,1976-06-29,NaT,1,34.67,28.66,4.89,-25.40,...,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN,0,1976,2018,42
8820,흥아해운(주),3280,2019-12-01,1976-06-29,NaT,1,46.36,42.55,6.75,-25.18,...,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN,0,1976,2019,43
8821,흥아해운(주),3280,2020-12-01,1976-06-29,NaT,1,38.67,33.73,3.21,-32.68,...,0.000000e+00,-1.25,0.00,0.00,0.00,NaN,0,1976,2020,44
8822,흥아해운(주),3280,2021-12-01,1976-06-29,NaT,1,207.21,181.62,143.19,11.56,...,0.000000e+00,69.25,41.38,58.62,29.04,NaN,0,1976,2021,45
8823,흥아해운(주),3280,2022-12-01,1976-06-29,NaT,1,159.54,145.53,92.35,12.36,...,0.000000e+00,38.43,50.36,49.64,34.84,NaN,0,1976,2022,46

In [31]:
# 외국계 기업 컬럼 삭제
KOSPI = KOSPI[KOSPI["거래소코드"] <= 900000]

In [32]:
KOSPI.shape

(7937, 61)

In [33]:
# 회사 갯수
len(KOSPI['회사명'].unique())

795

In [34]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [35]:
# 결측치 1개 확인
KOSPI.isna().sum()

회사명                0
거래소코드              0
회계년도               0
상장일                0
상장폐지일           7817
소속코드               0
유동비율               1
당좌비율               1
현금비율               0
순운전자본비율            1
부채비율               1
자기자본배율             1
이자보상배율(이자비용)       1
비유동비율              1
유동자산구성비율           1
자기자본구성비율           1
차입금의존도             1
매출액증가율             1
총자본증가율             1
자기자본증가율            1
순이익증가율             1
유형자산증가율            1
비유동자산증가율           1
유동자산증가율            1
재고자산증가율            1
매출액총이익률            1
매출액순이익률            1
총자본사업이익률           1
총자본순이익률            1
자기자본순이익률           1
1주당순이익             1
1주당매출액             1
금융비용 대 총비용비율       1
총자본회전률             1
자기자본회전률            1
비유동자산회전률           1
재고자산회전률            1
매출채권회전률            1
매입채무회전률            1
매입채무회전기간           1
재고자산회전기간           1
매출채권회전기간           1
1회전기간              1
운전자본회전률            1
순운전자본회전률           1
유형자산회전율            1
유동자산회전률            1
당좌자산회전률            1
부가가치               1
총자본투자효율            1
설비투자효율             1
기계투자효율             1
부가가치율              1
노동소득분배율            1
자본분배율              1
이윤분배율              1
폐지사유            7817
부실여부               0
상장년도               0
회계년                0
연차                 0
dtype: int64

In [36]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

### 회계년도가 12월이 아닌 경우 삭제

In [37]:
# 회계년도 3월
KOSPI[KOSPI["회계년도"].dt.month == 3]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
458,(주)대구백화점,6370,2011-03-01,1988-10-10,NaT,1,134.90,130.38,21.39,6.27,...,0.00,33.90,28.20,71.80,47.10,NaN,0,1988,2011,23
459,(주)대구백화점,6370,2012-03-01,1988-10-10,NaT,1,165.72,158.92,17.79,8.86,...,0.00,27.88,37.34,62.66,36.34,NaN,0,1988,2012,24
460,(주)대구백화점,6370,2013-03-01,1988-10-10,NaT,1,174.16,166.89,44.51,9.57,...,0.00,24.25,46.82,53.18,19.96,NaN,0,1988,2013,25
461,(주)대구백화점,6370,2014-03-01,1988-10-10,NaT,1,161.96,152.77,21.55,5.42,...,0.00,24.02,50.72,49.28,13.99,NaN,0,1988,2014,26
462,(주)대구백화점,6370,2015-03-01,1988-10-10,NaT,1,117.40,110.89,3.13,2.35,...,0.00,23.05,57.37,42.63,9.39,NaN,0,1988,2015,27
463,(주)대구백화점,6370,2016-03-01,1988-10-10,NaT,1,73.15,65.97,4.00,-3.75,...,0.00,27.71,47.92,52.08,14.49,NaN,0,1988,2016,28
464,(주)대구백화점,6370,2017-03-01,1988-10-10,NaT,1,53.79,46.71,2.60,-5.80,...,0.00,18.82,80.07,19.93,-27.18,NaN,0,1988,2017,29
2494,(주)유유제약,220,2011-03-01,1975-11-18,NaT,1,164.37,138.11,10.72,15.33,...,1258.83,34.22,78.83,21.17,6.01,NaN,0,1975,2011,36
2495,(주)유유제약,220,2012-03-01,1975-11-18,NaT,1,201.31,168.30,19.88,19.01,...,1416.71,31.66,82.24,17.76,10.25,NaN,0,1975,2012,37
2496,(주)유유제약,220,2013-03-01,1975-11-18,NaT,1,253.40,191.69,19.81,22.78,...,1346.93,32.13,73.83,26.17,14.99,NaN,0,1975,2013,38
2497,(주)유유제약,220,2014-03-01,1975-11-18,NaT,1,282.14,236.53,47.39,29.44,...,1284.82,34.89,81.20,18.80,8.93,NaN,0,1975,2014,39
2498,(주)유유제약,220,2015-03-01,1975-11-18,NaT,1,199.01,163.09,48.55,22.36,...,655.37,15.90,161.20,-61.20,-73.73,NaN,0,1975,2015,40
2499,(주)유유제약,220,2016-03-01,1975-11-18,NaT,1,167.82,124.03,33.67,18.99,...,816.18,26.92,92.57,7.43,-2.15,NaN,0,1975,2016,41
2500,(주)유유제약,220,2017-03-01,1975-11-18,NaT,1,181.61,136.62,60.62,22.87,...,1013.09,37.82,68.92,31.08,22.70,NaN,0,1975,2017,42
4266,국제약품(주),2720,2011-03-01,1975-12-23,NaT,1,168.34,123.92,2.91,25.69,...,430.84,32.01,67.77,32.23,10.12,NaN,0,1975,2011,36
5366,부광약품(주),3000,2011-03-01,1988-08-05,NaT,1,350.47,275.88,46.24,44.41,...,755.43,43.94,40.62,59.38,34.87,NaN,0,1988,2011,23
6319,에스엘(주),5850,2011-03-01,1988-11-08,NaT,1,130.01,110.81,15.08,12.69,...,215.26,29.66,48.30,51.70,33.68,NaN,0,1988,2011,23
6959,이화산업(주),760,2011-03-01,1994-04-29,NaT,1,113.22,91.18,9.78,2.67,...,7322.27,26.37,28.59,71.41,41.91,NaN,0,1994,2011,17
6960,이화산업(주),760,2012-03-01,1994-04-29,NaT,1,108.48,85.50,8.95,1.72,...,5605.92,16.22,51.03,48.97,-2.61,NaN,0,1994,2012,18
6961,이화산업(주),760,2013-03-01,1994-04-29,NaT,1,90.83,77.25,8.66,-2.27,...,2522.73,5.35,167.29,-67.29,-191.11,NaN,0,1994,2013,19
6962,이화산업(주),760,2014-03-01,1994-04-29,NaT,1,100.86,75.61,14.30,0.16,...,8158.71,10.04,84.45,15.55,-36.22,NaN,0,1994,2014,20
6963,이화산업(주),760,2015-03-01,1994-04-29,NaT,1,150.95,118.16,28.59,6.61,...,32342.67,23.03,35.27,64.73,38.13,NaN,0,1994,2015,21
6964,이화산업(주),760,2016-03-01,1994-04-29,NaT,1,114.60,90.74,36.58,2.35,...,15564.66,12.36,65.79,34.21,-1.41,NaN,0,1994,2016,22
7062,일양약품(주),7570,2011-03-01,1974-08-28,NaT,1,66.16,51.91,5.42,-17.46,...,5000.13,28.09,76.85,23.15,5.42,NaN,0,1974,2011,37
7063,일양약품(주),7570,2012-03-01,1974-08-28,NaT,1,117.33,91.46,5.41,5.19,...,5470.19,25.27,85.94,14.06,3.89,NaN,0,1974,2012,38
7064,일양약품(주),7570,2013-03-01,1974-08-28,NaT,1,106.84,83.91,4.50,2.16,...,7616.18,26.88,73.77,26.23,5.27,NaN,0,1974,2013,39
7065,일양약품(주),7570,2014-03-01,1974-08-28,NaT,1,88.67,68.34,1.85,-4.16,...,9563.84,32.05,67.47,32.53,8.37,NaN,0,1974,2014,40
7066,일양약품(주),7570,2015-03-01,1974-08-28,NaT,1,93.87,65.91,8.59,-2.40,...,179.00,24.42,74.12,25.88,-10.94,NaN,0,1974,2015,41
8133,한국주철관공업(주),970,2011-03-01,1969-12-12,NaT,1,152.46,69.23,4.74,18.56,...,184.51,13.37,73.41,26.59,2.31,NaN,0,1969,2011,42
8134,한국주철관공업(주),970,2012-03-01,1969-12-12,NaT,1,158.65,68.29,10.70,19.82,...,264.22,15.31,67.85,32.15,8.21,NaN,0,1969,2012,43
8135,한국주철관공업(주),970,2013-03-01,1969-12-12,NaT,1,167.35,69.28,17.33,21.75,...,313.27,14.57,65.81,34.19,10.23,NaN,0,1969,2013,44
8136,한국주철관공업(주),970,2014-03-01,1969-12-12,NaT,1,180.01,81.16,20.88,23.52,...,228.32,14.53,65.46,34.54,10.67,NaN,0,1969,2014,45
8137,한국주철관공업(주),970,2015-03-01,1969-12-12,NaT,1,223.68,120.23,23.63,27.92,...,251.19,15.76,61.72,38.28,20.71,NaN,0,1969,2015,46
8138,한국주철관공업(주),970,2016-03-01,1969-12-12,NaT,1,201.20,128.55,43.04,24.65,...,264.88,16.56,58.47,41.53,26.94,NaN,0,1969,2016,47
8139,한국주철관공업(주),970,2017-03-01,1969-12-12,NaT,1,235.43,130.41,40.62,28.84,...,385.84,18.61,45.90,54.10,34.55,NaN,0,1969,2017,48
8140,한국주철관공업(주),970,2018-03-01,1969-12-12,NaT,1,241.32,119.99,36.03,29.76,...,450.44,13.02,57.68,42.32,20.47,NaN,0,1969,2018,49
8141,한국주철관공업(주),970,2019-03-01,1969-12-12,NaT,1,229.52,113.16,29.48,28.09,...,313.68,11.98,67.49,32.51,14.44,NaN,0,1969,2019,50
8142,한국주철관공업(주),970,2020-03-01,1969-12-12,NaT,1,254.69,102.48,26.45,29.74,...,421.74,13.68,51.34,48.66,23.43,NaN,0,1969,2020,51
8169,한국콜마(주),161890,2013-03-01,2012-10-19,NaT,1,NaN,NaN,6.07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2012,2013,1
8179,한국콜마홀딩스(주),24720,2011-03-01,2002-04-09,NaT,1,137.08,94.44,17.42,14.22,...,449.47,15.57,52.09,47.91,27.58,NaN,0,2002,2011,9
8180,한국콜마홀딩스(주),24720,2012-03-01,2002-04-09,NaT,1,97.78,67.06,13.51,-1.00,...,418.09,18.76,45.70,54.30,33.31,NaN,0,2002,2012,10
8181,한국콜마홀딩스(주),24720,2013-03-01,2002-04-09,NaT,1,112.55,78.76,8.79,2.13,...,304.02,23.88,29.38,70.62,89.80,NaN,0,2002,2013,11

In [38]:
# 회계년도 6월
KOSPI[KOSPI["회계년도"].dt.month == 6]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
2474,(주)유니켐,11330,2015-06-01,1989-12-14,NaT,1,59.59,20.45,9.34,-25.99,...,-542.52,-80.96,0.0,0.0,0.0,NaN,0,1989,2015,26

In [39]:
# 회계년도 9월
KOSPI[KOSPI["회계년도"].dt.month == 9]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
1610,(주)신영와코루,5800,2011-09-01,1976-12-18,NaT,1,516.02,340.23,116.38,28.24,...,5623.92,31.18,60.56,39.44,29.22,NaN,0,1976,2011,35
1611,(주)신영와코루,5800,2012-09-01,1976-12-18,NaT,1,573.02,372.49,169.99,31.95,...,6563.17,28.57,65.21,34.79,26.14,NaN,0,1976,2012,36
1612,(주)신영와코루,5800,2013-09-01,1976-12-18,NaT,1,641.45,416.66,113.07,34.10,...,5939.04,26.76,71.27,28.73,21.46,NaN,0,1976,2013,37
1613,(주)신영와코루,5800,2014-09-01,1976-12-18,NaT,1,692.33,424.15,52.43,34.43,...,6482.88,23.79,81.53,18.47,13.27,NaN,0,1976,2014,38

In [40]:
# 회계년도 12월인 경우만 저장
KOSPI = KOSPI[KOSPI["회계년도"].dt.month == 12]
KOSPI

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,7.890000e+01,39.45,62.53,37.47,-44.96,NaN,0,1975,2011,36
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,1.122200e+02,41.58,55.93,44.07,-12.76,NaN,0,1975,2012,37
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,1.124500e+02,38.80,67.15,32.85,-43.35,NaN,0,1975,2013,38
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,1.369700e+02,33.00,68.59,31.41,-41.11,NaN,0,1975,2014,39
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,2.302400e+02,57.93,35.93,64.07,32.82,NaN,0,1975,2015,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8819,흥아해운(주),3280,2018-12-01,1976-06-29,NaT,1,34.67,28.66,4.89,-25.40,...,1.135163e+09,4.52,201.90,-101.90,-254.12,NaN,0,1976,2018,42
8820,흥아해운(주),3280,2019-12-01,1976-06-29,NaT,1,46.36,42.55,6.75,-25.18,...,4.455416e+08,13.08,241.39,-141.39,-384.23,NaN,0,1976,2019,43
8821,흥아해운(주),3280,2020-12-01,1976-06-29,NaT,1,38.67,33.73,3.21,-32.68,...,0.000000e+00,-1.25,0.00,0.00,0.00,NaN,0,1976,2020,44
8822,흥아해운(주),3280,2021-12-01,1976-06-29,NaT,1,207.21,181.62,143.19,11.56,...,0.000000e+00,69.25,41.38,58.62,29.04,NaN,0,1976,2021,45
8823,흥아해운(주),3280,2022-12-01,1976-06-29,NaT,1,159.54,145.53,92.35,12.36,...,0.000000e+00,38.43,50.36,49.64,34.84,NaN,0,1976,2022,46

In [41]:
KOSPI.shape

(7890, 61)

In [42]:
# 회사 갯수 확인
len(KOSPI['회사명'].unique())

795

In [43]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [44]:
# 결측값 확인
KOSPI.isna().sum()

회사명                0
거래소코드              0
회계년도               0
상장일                0
상장폐지일           7770
소속코드               0
유동비율               0
당좌비율               0
현금비율               0
순운전자본비율            0
부채비율               0
자기자본배율             0
이자보상배율(이자비용)       0
비유동비율              0
유동자산구성비율           0
자기자본구성비율           0
차입금의존도             0
매출액증가율             0
총자본증가율             0
자기자본증가율            0
순이익증가율             0
유형자산증가율            0
비유동자산증가율           0
유동자산증가율            0
재고자산증가율            0
매출액총이익률            0
매출액순이익률            0
총자본사업이익률           0
총자본순이익률            0
자기자본순이익률           0
1주당순이익             0
1주당매출액             0
금융비용 대 총비용비율       0
총자본회전률             0
자기자본회전률            0
비유동자산회전률           0
재고자산회전률            0
매출채권회전률            0
매입채무회전률            0
매입채무회전기간           0
재고자산회전기간           0
매출채권회전기간           0
1회전기간              0
운전자본회전률            0
순운전자본회전률           0
유형자산회전율            0
유동자산회전률            0
당좌자산회전률            0
부가가치               0
총자본투자효율            0
설비투자효율             0
기계투자효율             0
부가가치율              0
노동소득분배율            0
자본분배율              0
이윤분배율              0
폐지사유            7770
부실여부               0
상장년도               0
회계년                0
연차                 0
dtype: int64

In [45]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

In [46]:
KOSPI.shape

(7890, 61)

In [47]:
# 부실기업 회사명 갯수
len(KOSPI.loc[KOSPI['부실여부'] == 1, '회사명'].unique())

37

In [48]:
# 부실 기업인 회사명
np.unique(KOSPI[KOSPI['부실여부'] == 1]['회사명'])

array(['(주)넥솔론', '(주)다함이텍', '(주)대성합동지주', '(주)동성화학', '(주)동양건설산업',
       '(주)배명금속', '(주)보루네오가구', '(주)사조해표', '(주)삼양엔텍', '(주)신일건업', '(주)신한',
       '(주)알앤엘바이오', '(주)중앙건설', '(주)티이씨앤코', '(주)파브코', '(주)포스코플랜텍',
       '(주)허메스홀딩스', 'STX조선해양(주)', '경남기업(주)', '고려개발(주)', '글로스텍(주)',
       '대덕GDS(주)', '대우자동차판매(주)', '롯데푸드(주)', '삼성물산(주)1', '삼환기업(주)',
       '성지건설(주)', '에스케이(주)1', '웅진에너지(주)', '제일모직(주)', '코리아오토글라스(주)',
       '풍림산업(주)', '한국제지(주)', '한일건설(주)', '한화화인케미칼(주)', '현대페인트(주)',
       '현대하이스코(주)'], dtype=object)

In [49]:
KOSPI['부실여부'].value_counts()

0    7853
1      37
Name: 부실여부, dtype: int64

In [50]:
KOSPI['부실여부'].value_counts(property)

0    0.995311
1    0.004689
Name: 부실여부, dtype: float64

---

# KOSDAQ

In [51]:
KOSDAQ = pd.read_csv('./datasets/KOSDAQ_연결개별.csv')

In [52]:
# 데이터 정보 확인
KOSDAQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17631 entries, 0 to 17630
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           17631 non-null  object
 1   거래소코드         17631 non-null  int64
 2   회계년도          17631 non-null  object
 3   상장일           17631 non-null  object
 4   상장폐지일         1691 non-null   object
 5   소속코드          17631 non-null  int64
 6   유동비율          15466 non-null  float64
 7   당좌비율          15466 non-null  float64
 8   현금비율          15466 non-null  float64
 9   순운전자본비율       15466 non-null  float64
 10  부채비율          15466 non-null  float64
 11  자기자본배율        15466 non-null  float64
 12  이자보상배율(이자비용)  15466 non-null  float64
 13  비유동비율         15466 non-null  float64
 14  유동자산구성비율      15466 non-null  float64
 15  자기자본구성비율      15466 non-null  float64
 16  차입금의존도        15466 non-null  float64
 17  매출액증가율        15466 non-null  float64
 18  총자본증가율        15466 non-null  float64
 19  자기자본증가율       15466 non-null  float64
 20  순이익증가율        15466 non-null  float64
 21  유형자산증가율       15466 non-null  float64
 22  비유동자산증가율      15466 non-null  float64
 23  유동자산증가율       15466 non-null  float64
 24  재고자산증가율       15466 non-null  float64
 25  매출액총이익률       15466 non-null  float64
 26  매출액순이익률       15466 non-null  float64
 27  총자본사업이익률      15466 non-null  float64
 28  총자본순이익률       15466 non-null  float64
 29  자기자본순이익률      15466 non-null  float64
 30  1주당순이익        15466 non-null  float64
 31  1주당매출액        15466 non-null  float64
 32  금융비용 대 총비용비율  15466 non-null  float64
 33  총자본회전률        15466 non-null  float64
 34  자기자본회전률       15466 non-null  float64
 35  비유동자산회전률      15466 non-null  float64
 36  재고자산회전률       15466 non-null  float64
 37  매출채권회전률       15466 non-null  float64
 38  매입채무회전률       15466 non-null  float64
 39  매입채무회전기간      15466 non-null  float64
 40  재고자산회전기간      15466 non-null  float64
 41  매출채권회전기간      15466 non-null  float64
 42  1회전기간         15466 non-null  float64
 43  운전자본회전률       15466 non-null  float64
 44  순운전자본회전률      15466 non-null  float64
 45  유형자산회전율       15466 non-null  float64
 46  유동자산회전률       15466 non-null  float64
 47  당좌자산회전률       15466 non-null  float64
 48  부가가치          15466 non-null  float64
 49  총자본투자효율       15466 non-null  float64
 50  설비투자효율        15466 non-null  float64
 51  기계투자효율        15466 non-null  float64
 52  부가가치율         15466 non-null  float64
 53  노동소득분배율       15466 non-null  float64
 54  자본분배율         15466 non-null  float64
 55  이윤분배율         15466 non-null  float64
 56  폐지사유          1137 non-null   object
dtypes: float64(50), int64(2), object(5)
memory usage: 7.7+ MB

In [53]:
# 회사 갯수
len(KOSDAQ['회사명'].unique())

1834

In [54]:
# 결측치 2165개
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           15940
소속코드                0
유동비율             2165
당좌비율             2165
현금비율             2165
순운전자본비율          2165
부채비율             2165
자기자본배율           2165
이자보상배율(이자비용)     2165
비유동비율            2165
유동자산구성비율         2165
자기자본구성비율         2165
차입금의존도           2165
매출액증가율           2165
총자본증가율           2165
자기자본증가율          2165
순이익증가율           2165
유형자산증가율          2165
비유동자산증가율         2165
유동자산증가율          2165
재고자산증가율          2165
매출액총이익률          2165
매출액순이익률          2165
총자본사업이익률         2165
총자본순이익률          2165
자기자본순이익률         2165
1주당순이익           2165
1주당매출액           2165
금융비용 대 총비용비율     2165
총자본회전률           2165
자기자본회전률          2165
비유동자산회전률         2165
재고자산회전률          2165
매출채권회전률          2165
매입채무회전률          2165
매입채무회전기간         2165
재고자산회전기간         2165
매출채권회전기간         2165
1회전기간            2165
운전자본회전률          2165
순운전자본회전률         2165
유형자산회전율          2165
유동자산회전률          2165
당좌자산회전률          2165
부가가치             2165
총자본투자효율          2165
설비투자효율           2165
기계투자효율           2165
부가가치율            2165
노동소득분배율          2165
자본분배율            2165
이윤분배율            2165
폐지사유            16494
dtype: int64

In [55]:
KOSDAQ.shape

(17631, 57)

In [56]:
# 데이터 기술통계량
KOSDAQ.describe()

,거래소코드,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,부채비율,자기자본배율,이자보상배율(이자비용),비유동비율,...,유동자산회전률,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율
count,17631.00000,17631.000000,1.546600e+04,1.546600e+04,15466.000000,15466.000000,15466.000000,1.546600e+04,1.546600e+04,15466.000000,...,15466.000000,15466.000000,1.546600e+04,15466.000000,15466.000000,1.546600e+04,15466.000000,15466.000000,15466.000000,15466.000000
mean,129893.32596,4.942034,4.534435e+02,4.057971e+02,108.639066,21.700038,122.807299,3.695895e+03,4.927114e+07,106.180304,...,1.718454,2.347653,3.462461e+04,16.230619,154.201394,6.841177e+06,-77.116181,107.117465,-19.738699,-65.347425
std,125067.40714,0.361251,1.679861e+04,1.679843e+04,3025.404660,33.553483,675.663693,1.086618e+05,2.164365e+08,329.847052,...,1.195471,1.825881,7.721348e+04,26.304291,6780.323199,2.103078e+08,3661.583764,1225.061800,1224.408114,1802.156661
min,250.00000,4.000000,0.000000e+00,0.000000e+00,0.000000,-1243.210000,0.000000,-4.195963e+04,-4.493653e+06,0.000000,...,0.000000,0.000000,-7.107779e+05,-1023.570000,-563113.070000,-2.657909e+09,-284516.290000,-6.870000,-116701.060000,-190075.340000
25%,47310.00000,5.000000,1.096800e+02,7.940000e+01,13.425000,3.760000,29.992500,3.959475e+02,-8.300000e-01,48.960000,...,0.950000,1.140000,6.211270e+03,8.950000,30.780000,7.906500e+01,12.080000,35.965000,0.000000,0.000000
50%,88290.00000,5.000000,1.765550e+02,1.385900e+02,35.455000,22.490000,65.820000,8.369250e+02,4.120000e+00,77.090000,...,1.500000,1.940000,1.644271e+04,17.705000,68.425000,2.906150e+02,22.410000,55.350000,35.870000,12.345000
75%,194860.00000,5.000000,3.308425e+02,2.729300e+02,86.157500,41.420000,128.085000,1.526872e+03,2.890750e+01,118.300000,...,2.200000,3.090000,3.650453e+04,26.220000,149.260000,1.440763e+03,35.837500,74.827500,53.220000,30.460000
max,950220.00000,6.000000,2.088019e+06,2.088019e+06,375033.370000,100.000000,65433.660000,6.930814e+06,1.000000e+09,28805.330000,...,17.770000,24.180000,2.189782e+06,388.620000,189697.380000,1.329861e+10,5700.720000,116801.060000,106.870000,3644.450000

In [57]:
KOSDAQ

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유
0,(주)CMG제약,58820,2011/12,2001/08/31,NaN,5,200.97,165.03,15.10,28.23,...,1.55,3472.17,12.72,35.86,128.51,19.56,89.82,10.18,-43.44,NaN
1,(주)CMG제약,58820,2012/12,2001/08/31,NaN,5,693.49,649.98,68.81,70.60,...,0.57,269.31,0.47,2.89,10.67,1.66,1749.87,-1649.87,-2473.07,NaN
2,(주)CMG제약,58820,2013/12,2001/08/31,NaN,5,694.71,610.74,394.63,58.50,...,0.52,6994.90,12.51,77.91,289.40,34.29,71.28,28.72,4.23,NaN
3,(주)CMG제약,58820,2014/12,2001/08/31,NaN,5,324.58,268.23,101.24,33.72,...,0.80,7061.34,12.16,37.80,132.06,31.04,79.30,20.70,2.24,NaN
4,(주)CMG제약,58820,2015/12,2001/08/31,NaN,5,296.85,235.21,29.00,30.82,...,1.22,4315.37,7.63,24.21,90.92,15.96,144.10,-44.10,-84.58,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018/12,1994/12/07,NaN,5,329.17,290.09,105.67,11.59,...,13.76,7373.52,9.80,19.56,3064.10,4.44,47.47,52.53,32.14,NaN
17627,흥구석유(주),24060,2019/12,1994/12/07,NaN,5,485.39,422.76,49.75,21.47,...,9.81,15072.74,18.02,42.99,3489.21,10.00,22.19,77.81,55.02,NaN
17628,흥구석유(주),24060,2020/12,1994/12/07,NaN,5,1108.08,1013.02,56.54,30.09,...,5.10,10271.87,12.27,34.04,3280.80,8.94,30.41,69.59,46.65,NaN
17629,흥구석유(주),24060,2021/12,1994/12/07,NaN,5,913.64,818.58,31.93,28.57,...,5.39,5796.91,7.01,19.15,1308.44,4.38,53.22,46.78,24.13,NaN
17630,흥구석유(주),24060,2022/12,1994/12/07,NaN,5,185.24,115.48,11.23,4.25,...,10.06,7559.53,8.05,25.32,1823.26,5.15,40.67,59.33,35.15,NaN

In [58]:
# 날짜 데이터 datetime 변경
KOSDAQ["상장일"] = pd.to_datetime(KOSDAQ['상장일'])
KOSDAQ["상장폐지일"] = pd.to_datetime(KOSDAQ['상장폐지일'])
KOSDAQ["회계년도"] = pd.to_datetime(KOSDAQ["회계년도"])
KOSDAQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17631 entries, 0 to 17630
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           17631 non-null  object
 1   거래소코드         17631 non-null  int64
 2   회계년도          17631 non-null  datetime64[ns]
 3   상장일           17631 non-null  datetime64[ns]
 4   상장폐지일         1691 non-null   datetime64[ns]
 5   소속코드          17631 non-null  int64
 6   유동비율          15466 non-null  float64
 7   당좌비율          15466 non-null  float64
 8   현금비율          15466 non-null  float64
 9   순운전자본비율       15466 non-null  float64
 10  부채비율          15466 non-null  float64
 11  자기자본배율        15466 non-null  float64
 12  이자보상배율(이자비용)  15466 non-null  float64
 13  비유동비율         15466 non-null  float64
 14  유동자산구성비율      15466 non-null  float64
 15  자기자본구성비율      15466 non-null  float64
 16  차입금의존도        15466 non-null  float64
 17  매출액증가율        15466 non-null  float64
 18  총자본증가율        15466 non-null  float64
 19  자기자본증가율       15466 non-null  float64
 20  순이익증가율        15466 non-null  float64
 21  유형자산증가율       15466 non-null  float64
 22  비유동자산증가율      15466 non-null  float64
 23  유동자산증가율       15466 non-null  float64
 24  재고자산증가율       15466 non-null  float64
 25  매출액총이익률       15466 non-null  float64
 26  매출액순이익률       15466 non-null  float64
 27  총자본사업이익률      15466 non-null  float64
 28  총자본순이익률       15466 non-null  float64
 29  자기자본순이익률      15466 non-null  float64
 30  1주당순이익        15466 non-null  float64
 31  1주당매출액        15466 non-null  float64
 32  금융비용 대 총비용비율  15466 non-null  float64
 33  총자본회전률        15466 non-null  float64
 34  자기자본회전률       15466 non-null  float64
 35  비유동자산회전률      15466 non-null  float64
 36  재고자산회전률       15466 non-null  float64
 37  매출채권회전률       15466 non-null  float64
 38  매입채무회전률       15466 non-null  float64
 39  매입채무회전기간      15466 non-null  float64
 40  재고자산회전기간      15466 non-null  float64
 41  매출채권회전기간      15466 non-null  float64
 42  1회전기간         15466 non-null  float64
 43  운전자본회전률       15466 non-null  float64
 44  순운전자본회전률      15466 non-null  float64
 45  유형자산회전율       15466 non-null  float64
 46  유동자산회전률       15466 non-null  float64
 47  당좌자산회전률       15466 non-null  float64
 48  부가가치          15466 non-null  float64
 49  총자본투자효율       15466 non-null  float64
 50  설비투자효율        15466 non-null  float64
 51  기계투자효율        15466 non-null  float64
 52  부가가치율         15466 non-null  float64
 53  노동소득분배율       15466 non-null  float64
 54  자본분배율         15466 non-null  float64
 55  이윤분배율         15466 non-null  float64
 56  폐지사유          1137 non-null   object
dtypes: datetime64[ns](3), float64(50), int64(2), object(2)
memory usage: 7.7+ MB

## 타겟 데이터 생성
- 부실인 경우 1, 부실 아닌 경우 0
- 상폐시점(t)이라면 상폐시점(t-1) 데이터를 1, 아닌 경우 0

In [59]:
# 타겟 데이터인 부실여부 생성

KOSDAQ['부실여부'] = np.where((KOSDAQ['소속코드'] == 4) & (KOSDAQ['회계년도'].dt.year == KOSDAQ['상장폐지일'].dt.year -1), 1, 0)
KOSDAQ

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
0,(주)CMG제약,58820,2011-12-01,2001-08-31,NaT,5,200.97,165.03,15.10,28.23,...,3472.17,12.72,35.86,128.51,19.56,89.82,10.18,-43.44,NaN,0
1,(주)CMG제약,58820,2012-12-01,2001-08-31,NaT,5,693.49,649.98,68.81,70.60,...,269.31,0.47,2.89,10.67,1.66,1749.87,-1649.87,-2473.07,NaN,0
2,(주)CMG제약,58820,2013-12-01,2001-08-31,NaT,5,694.71,610.74,394.63,58.50,...,6994.90,12.51,77.91,289.40,34.29,71.28,28.72,4.23,NaN,0
3,(주)CMG제약,58820,2014-12-01,2001-08-31,NaT,5,324.58,268.23,101.24,33.72,...,7061.34,12.16,37.80,132.06,31.04,79.30,20.70,2.24,NaN,0
4,(주)CMG제약,58820,2015-12-01,2001-08-31,NaT,5,296.85,235.21,29.00,30.82,...,4315.37,7.63,24.21,90.92,15.96,144.10,-44.10,-84.58,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,7373.52,9.80,19.56,3064.10,4.44,47.47,52.53,32.14,NaN,0
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,15072.74,18.02,42.99,3489.21,10.00,22.19,77.81,55.02,NaN,0
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,10271.87,12.27,34.04,3280.80,8.94,30.41,69.59,46.65,NaN,0
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,5796.91,7.01,19.15,1308.44,4.38,53.22,46.78,24.13,NaN,0
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,7559.53,8.05,25.32,1823.26,5.15,40.67,59.33,35.15,NaN,0

In [60]:
KOSDAQ['부실여부'].value_counts()

0    17379
1      252
Name: 부실여부, dtype: int64

In [61]:
KOSDAQ['부실여부'].value_counts(property)

0    0.985707
1    0.014293
Name: 부실여부, dtype: float64

In [62]:
KOSDAQ.shape

(17631, 58)

## 부실 기업인데 과거 데이터가 타겟 값이 0인 경우 데이터 삭제

In [63]:
# 부실 기업인데 과거 데이터가 타겟 값이 0인 경우 데이터 삭제

부실회사명 = KOSDAQ[KOSDAQ["부실여부"] == 1]['회사명'].unique()

for i in 부실회사명:
    drop_ind = KOSDAQ[(KOSDAQ['회사명'].isin(부실회사명)) & (KOSDAQ['부실여부'] == 0)].index
    KOSDAQ.drop(drop_ind, axis = 0, inplace = True)

KOSDAQ

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
0,(주)CMG제약,58820,2011-12-01,2001-08-31,NaT,5,200.97,165.03,15.10,28.23,...,3472.17,12.72,35.86,128.51,19.56,89.82,10.18,-43.44,NaN,0
1,(주)CMG제약,58820,2012-12-01,2001-08-31,NaT,5,693.49,649.98,68.81,70.60,...,269.31,0.47,2.89,10.67,1.66,1749.87,-1649.87,-2473.07,NaN,0
2,(주)CMG제약,58820,2013-12-01,2001-08-31,NaT,5,694.71,610.74,394.63,58.50,...,6994.90,12.51,77.91,289.40,34.29,71.28,28.72,4.23,NaN,0
3,(주)CMG제약,58820,2014-12-01,2001-08-31,NaT,5,324.58,268.23,101.24,33.72,...,7061.34,12.16,37.80,132.06,31.04,79.30,20.70,2.24,NaN,0
4,(주)CMG제약,58820,2015-12-01,2001-08-31,NaT,5,296.85,235.21,29.00,30.82,...,4315.37,7.63,24.21,90.92,15.96,144.10,-44.10,-84.58,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,7373.52,9.80,19.56,3064.10,4.44,47.47,52.53,32.14,NaN,0
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,15072.74,18.02,42.99,3489.21,10.00,22.19,77.81,55.02,NaN,0
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,10271.87,12.27,34.04,3280.80,8.94,30.41,69.59,46.65,NaN,0
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,5796.91,7.01,19.15,1308.44,4.38,53.22,46.78,24.13,NaN,0
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,7559.53,8.05,25.32,1823.26,5.15,40.67,59.33,35.15,NaN,0

In [64]:
KOSDAQ.shape

(16478, 58)

In [65]:
KOSDAQ['부실여부'].value_counts()

0    16226
1      252
Name: 부실여부, dtype: int64

In [66]:
KOSDAQ['부실여부'].value_counts(property)

0    0.984707
1    0.015293
Name: 부실여부, dtype: float64

## 폐지사유 해당 되지 않는 컬럼 변경
- 상장폐지신청, 피흡수합병, 유가증권시장 상장, 타법인의 완전자회사로 편입 등 컬럼을 부실여부 0으로 변경

In [67]:
KOSDAQ["폐지사유"].unique()

array([nan, '해산사유 발생(파산선고)', '기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당',
       '감사의견거절(감사범위 제한 및 계속기업으로서의 존속능력에 대한 불확실성)', '감사의견거절(감사범위제한)',
       '기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정', '피흡수합병',
       '감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성)',
       '최근3사업연도중2사업연도자기자본 50%초과법인세비용차감전손실발생', '유가증권시장 상장',
       '발행한 어음 또는 수표가 주거래은행에 의하여 최종부도로 결정되거나 거래은행에 의한 거래정지',
       '기업의 계속성, 경영의 투명성 또는 그 밖에 코스닥시장의 건전성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정',
       '기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하여 상장폐지가 필요하다고 인정',
       '감사의견 거절(감사범위 제한 및 계속기업 존속능력에 대한 불확실성)',
       '기업의 계속성 및 경영의 투명성 등을 종합적을 고려하여 상장폐지기준에 해당한다고 결정',
       '기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정',
       '감사의견거절(계속기업으로서의 존속능력에 대한 불확실성)', "상장폐지 신청('22.03.30)",
       '감사의견거절(감사범위 제한)', '자본전액잠식 등',
       '최근 2년간 3회 이상 공시규정 제19조제1항의 규정에 의한 사업보고서, 반기보고서 또는 분기보고서 법정제출기한 내 미제출',
       '자본전액잠식', '감사의견 거절(감사범위 제한 및 계속기업존속불확실성)',
       '감사의견거절(감사범위 제한 및 계속기업존속 불확실성)', '감사범위제한으로 인한 한정의견',
       '감사의견 거절(감사범위 제한)', '감사의견거절(감사범위 제한 및 계속기업 존속능력에 대한 불확실성)',
       "상장폐지신청('14.04.22)",
       "'16사업연도 감사의견거절(계속기업 존속능력에 대한 불확실성) 및 '17사업연도 반기 감사의견거절(계속기업 존속능력에 대한 불확실성)",
       '감사의견거절(범위제한 및 계속기업 존속능력에 대한 불확실성)', '2반기 연속 자본잠식률 50% 이상',
       '최종부도 발생', '감사 의견거절(감사범위 제한)',
       "'14사업연도 자본잠식률 50%이상 사유로 관리종목 지정 후 '15사업연도 반기 감사의견 거절",
       '감사의견 거절(감사범위 제한 및 기업회계기준 위배)', '감사의견거절(감사범위제한 및 계속기업 존속 불확실)',
       '사업보고서 법정제출기한 익일부터 10일 이내 미제출',
       '기업의계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정',
       '감사의견 거절(내부회계관리제도상의 취약점, 계속기업가정의 불확실성 및 재고자산 관련 감사범위 제한)',
       '기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정',
       '의견거절(감사범위 제한)', '감사의견 거절(계속기업 존속능력에 대한 불확실성)', '감사의견 부적정',
       '자본잠식률 50% 이상으로 관리종목 지정 이후 최근 반기의 재무제표에 대한 감사인의 감사의견거절 등',
       '감사의견 거절(감사범위 제한으로 인한 의견거절)', '타법인의 완전자회사로 편입',
       "상장폐지신청('12.09.26)", "상장폐지 신청('12.09.26)",
       '제28조제1항제9호에 따라 관리종목 지정 후 공시규정 제19조제1항에 따른 사업보고서 법정제출기한 내 미제출, 최근 2년간 3회 이상 공시규정 제19조제1항의 규정에 의한 사업보고서, 반기보고서 또는 분기보고서 법정제출기한 내 미제출',
       '최근 5사업연도 연속 영업손실 발생', "상장폐지 신청('13.05.08)", "상장폐지신청('12.10.09)",
       '2회 연속 자본잠식률 50%이상', '감사의견 한정(감사범위 제한)',
       '발행한 어음 또는 수표가 주거래은행에 의하여 최종부도로 결정되거나 거래은행에 의한 거래 정지',
       '감사의견거절(감사범위 제한 및 계속기업존속능력 불확실성)', '2반기 연속 자본잠식률 50%이상',
       '감사의견 거절(감사범위 제한 및 계속기업 존속능력에 대한 불확실성',
       '법정제출기한까지 사업보고서를 제출하지 아니한 후, 법정제출기한의 다음날부터 10일이내에 사업보고서를 제출하지 아니함',
       '감사의견 거절', "상장폐지신청('15.6.11)", "상장폐지신청('17.02.07)",
       '최근 5사업연도 연속 영업손실 발생 등', "상장폐지 신청('17.06.22)",
       '반기 재무제표에 대한 검토의견거절로 관리종목 지정후 자본잠식률 50% 이상',
       '감사의견 거절(계속기업 존속능력에 대한 불확실성 및 감사범위 제한)',
       '제28조제1항제9호에 따라 관리종목 지정 후 공시규정 제19조 제1항에 따른 분기보고서 법정기한 내 미제출',
       '자본전액잠식등', "상장폐지 신청('22.08.31)"], dtype=object)

In [68]:
# 코스닥 폐지사유 중 부실에 해당하지 않는다고 기준한 사유 0값으로 변경

KOSDAQ.loc[KOSDAQ['폐지사유'] == '피흡수합병','부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "유가증권시장 상장", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지 신청('22.03.30)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지신청('14.04.22)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "타법인의 완전자회사로 편입", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지신청('12.09.26)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지 신청('12.09.26)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지 신청('13.05.08)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지신청('12.10.09)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지신청('15.6.11)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지신청('17.02.07)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지 신청('17.06.22)", '부실여부'] = 0
KOSDAQ.loc[KOSDAQ['폐지사유'] == "상장폐지 신청('22.08.31)", '부실여부'] = 0

In [69]:
KOSDAQ['부실여부'].value_counts()

0    16267
1      211
Name: 부실여부, dtype: int64

In [70]:
KOSDAQ['부실여부'].value_counts(property)

0    0.987195
1    0.012805
Name: 부실여부, dtype: float64

In [71]:
# 날짜 데이터 datetime 변경
KOSDAQ["상장일"] = pd.to_datetime(KOSDAQ['상장일'])
KOSDAQ["상장폐지일"] = pd.to_datetime(KOSDAQ['상장폐지일'])
KOSDAQ["회계년도"] = pd.to_datetime(KOSDAQ["회계년도"])
KOSDAQ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16478 entries, 0 to 17630
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           16478 non-null  object
 1   거래소코드         16478 non-null  int64
 2   회계년도          16478 non-null  datetime64[ns]
 3   상장일           16478 non-null  datetime64[ns]
 4   상장폐지일         538 non-null    datetime64[ns]
 5   소속코드          16478 non-null  int64
 6   유동비율          14620 non-null  float64
 7   당좌비율          14620 non-null  float64
 8   현금비율          14620 non-null  float64
 9   순운전자본비율       14620 non-null  float64
 10  부채비율          14620 non-null  float64
 11  자기자본배율        14620 non-null  float64
 12  이자보상배율(이자비용)  14620 non-null  float64
 13  비유동비율         14620 non-null  float64
 14  유동자산구성비율      14620 non-null  float64
 15  자기자본구성비율      14620 non-null  float64
 16  차입금의존도        14620 non-null  float64
 17  매출액증가율        14620 non-null  float64
 18  총자본증가율        14620 non-null  float64
 19  자기자본증가율       14620 non-null  float64
 20  순이익증가율        14620 non-null  float64
 21  유형자산증가율       14620 non-null  float64
 22  비유동자산증가율      14620 non-null  float64
 23  유동자산증가율       14620 non-null  float64
 24  재고자산증가율       14620 non-null  float64
 25  매출액총이익률       14620 non-null  float64
 26  매출액순이익률       14620 non-null  float64
 27  총자본사업이익률      14620 non-null  float64
 28  총자본순이익률       14620 non-null  float64
 29  자기자본순이익률      14620 non-null  float64
 30  1주당순이익        14620 non-null  float64
 31  1주당매출액        14620 non-null  float64
 32  금융비용 대 총비용비율  14620 non-null  float64
 33  총자본회전률        14620 non-null  float64
 34  자기자본회전률       14620 non-null  float64
 35  비유동자산회전률      14620 non-null  float64
 36  재고자산회전률       14620 non-null  float64
 37  매출채권회전률       14620 non-null  float64
 38  매입채무회전률       14620 non-null  float64
 39  매입채무회전기간      14620 non-null  float64
 40  재고자산회전기간      14620 non-null  float64
 41  매출채권회전기간      14620 non-null  float64
 42  1회전기간         14620 non-null  float64
 43  운전자본회전률       14620 non-null  float64
 44  순운전자본회전률      14620 non-null  float64
 45  유형자산회전율       14620 non-null  float64
 46  유동자산회전률       14620 non-null  float64
 47  당좌자산회전률       14620 non-null  float64
 48  부가가치          14620 non-null  float64
 49  총자본투자효율       14620 non-null  float64
 50  설비투자효율        14620 non-null  float64
 51  기계투자효율        14620 non-null  float64
 52  부가가치율         14620 non-null  float64
 53  노동소득분배율       14620 non-null  float64
 54  자본분배율         14620 non-null  float64
 55  이윤분배율         14620 non-null  float64
 56  폐지사유          388 non-null    object
 57  부실여부          16478 non-null  int64
dtypes: datetime64[ns](3), float64(50), int64(3), object(2)
memory usage: 7.9+ MB

In [72]:
# 상장폐지일 2011년도 이전 데이터 있는지 확인
KOSDAQ[KOSDAQ["상장폐지일"].dt.year <  2011]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
4284,(주)신세계아이앤씨,35510,2018-12-01,2000-11-16,2006-05-18,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [73]:
# 상장폐지일 2011년도 이전 데이터 삭제
KOSDAQ.drop(KOSDAQ[KOSDAQ["상장폐지일"].dt.year < 2011].index, inplace=True)

In [74]:
KOSDAQ.shape

(16477, 58)

In [75]:
# 결측값 1857개 확인
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           15940
소속코드                0
유동비율             1857
당좌비율             1857
현금비율             1857
순운전자본비율          1857
부채비율             1857
자기자본배율           1857
이자보상배율(이자비용)     1857
비유동비율            1857
유동자산구성비율         1857
자기자본구성비율         1857
차입금의존도           1857
매출액증가율           1857
총자본증가율           1857
자기자본증가율          1857
순이익증가율           1857
유형자산증가율          1857
비유동자산증가율         1857
유동자산증가율          1857
재고자산증가율          1857
매출액총이익률          1857
매출액순이익률          1857
총자본사업이익률         1857
총자본순이익률          1857
자기자본순이익률         1857
1주당순이익           1857
1주당매출액           1857
금융비용 대 총비용비율     1857
총자본회전률           1857
자기자본회전률          1857
비유동자산회전률         1857
재고자산회전률          1857
매출채권회전률          1857
매입채무회전률          1857
매입채무회전기간         1857
재고자산회전기간         1857
매출채권회전기간         1857
1회전기간            1857
운전자본회전률          1857
순운전자본회전률         1857
유형자산회전율          1857
유동자산회전률          1857
당좌자산회전률          1857
부가가치             1857
총자본투자효율          1857
설비투자효율           1857
기계투자효율           1857
부가가치율            1857
노동소득분배율          1857
자본분배율            1857
이윤분배율            1857
폐지사유            16089
부실여부                0
dtype: int64

In [76]:
# 회사 갯수
len(KOSDAQ['회사명'].unique())

1833

### 회계년도 <= 상장년도인 값 삭제

In [77]:
# 상장일보다 앞서거나 같은 회계년도 삭제하기 위해 연차 컬럼 생성

KOSDAQ["상장년도"]  = KOSDAQ["상장일"].dt.year
KOSDAQ["회계년"]  = KOSDAQ["회계년도"].dt.year
KOSDAQ["연차"] = KOSDAQ["회계년"] - KOSDAQ["상장년도"]

In [236]:
# 음수거나 0인 값 확인
KOSDAQ[KOSDAQ["연차"] <= 0]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
36,(주)가온칩스,399720,2018-12-01,2022-05-20,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2022,2018,-4
37,(주)가온칩스,399720,2019-12-01,2022-05-20,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2022,2019,-3
38,(주)가온칩스,399720,2020-12-01,2022-05-20,NaT,5,215.26,215.26,100.01,42.39,...,5061.32,52.78,73.85,26.15,20.52,NaN,0,2022,2020,-2
39,(주)가온칩스,399720,2021-12-01,2022-05-20,NaT,5,216.66,216.66,40.71,43.54,...,9385.24,49.93,51.22,48.78,38.41,NaN,0,2022,2021,-1
40,(주)가온칩스,399720,2022-12-01,2022-05-20,NaT,5,382.42,382.42,76.45,55.50,...,33965.61,42.03,67.04,32.96,24.27,NaN,0,2022,2022,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17607,휴젤(주),145020,2011-12-01,2015-12-24,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2015,2011,-4
17608,휴젤(주),145020,2012-12-01,2015-12-24,NaT,5,324.17,286.17,57.42,38.61,...,1612.67,66.42,35.80,64.20,43.10,NaN,0,2015,2012,-3
17609,휴젤(주),145020,2013-12-01,2015-12-24,NaT,5,754.65,720.04,308.69,45.40,...,1566.56,61.48,38.36,61.64,40.74,NaN,0,2015,2013,-2
17610,휴젤(주),145020,2014-12-01,2015-12-24,NaT,5,96.27,93.30,31.95,-2.08,...,1926.73,64.69,35.26,64.74,50.38,NaN,0,2015,2014,-1
17611,휴젤(주),145020,2015-12-01,2015-12-24,NaT,5,601.48,556.70,394.43,38.37,...,1522.83,81.70,22.76,77.24,67.46,NaN,0,2015,2015,0

In [78]:
# 양수인 값만 저장
KOSDAQ = KOSDAQ[KOSDAQ['연차'] > 0]
KOSDAQ

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)CMG제약,58820,2011-12-01,2001-08-31,NaT,5,200.97,165.03,15.10,28.23,...,128.51,19.56,89.82,10.18,-43.44,NaN,0,2001,2011,10
1,(주)CMG제약,58820,2012-12-01,2001-08-31,NaT,5,693.49,649.98,68.81,70.60,...,10.67,1.66,1749.87,-1649.87,-2473.07,NaN,0,2001,2012,11
2,(주)CMG제약,58820,2013-12-01,2001-08-31,NaT,5,694.71,610.74,394.63,58.50,...,289.40,34.29,71.28,28.72,4.23,NaN,0,2001,2013,12
3,(주)CMG제약,58820,2014-12-01,2001-08-31,NaT,5,324.58,268.23,101.24,33.72,...,132.06,31.04,79.30,20.70,2.24,NaN,0,2001,2014,13
4,(주)CMG제약,58820,2015-12-01,2001-08-31,NaT,5,296.85,235.21,29.00,30.82,...,90.92,15.96,144.10,-44.10,-84.58,NaN,0,2001,2015,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,3064.10,4.44,47.47,52.53,32.14,NaN,0,1994,2018,24
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,3489.21,10.00,22.19,77.81,55.02,NaN,0,1994,2019,25
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,3280.80,8.94,30.41,69.59,46.65,NaN,0,1994,2020,26
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,1308.44,4.38,53.22,46.78,24.13,NaN,0,1994,2021,27
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,1823.26,5.15,40.67,59.33,35.15,NaN,0,1994,2022,28

In [79]:
KOSDAQ.shape

(12900, 61)

In [80]:
# 회사 갯수
len(KOSDAQ['회사명'].unique())

1707

In [81]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [82]:
# 결측치 181개 확인
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           12460
소속코드                0
유동비율              181
당좌비율              181
현금비율              181
순운전자본비율           181
부채비율              181
자기자본배율            181
이자보상배율(이자비용)      181
비유동비율             181
유동자산구성비율          181
자기자본구성비율          181
차입금의존도            181
매출액증가율            181
총자본증가율            181
자기자본증가율           181
순이익증가율            181
유형자산증가율           181
비유동자산증가율          181
유동자산증가율           181
재고자산증가율           181
매출액총이익률           181
매출액순이익률           181
총자본사업이익률          181
총자본순이익률           181
자기자본순이익률          181
1주당순이익            181
1주당매출액            181
금융비용 대 총비용비율      181
총자본회전률            181
자기자본회전률           181
비유동자산회전률          181
재고자산회전률           181
매출채권회전률           181
매입채무회전률           181
매입채무회전기간          181
재고자산회전기간          181
매출채권회전기간          181
1회전기간             181
운전자본회전률           181
순운전자본회전률          181
유형자산회전율           181
유동자산회전률           181
당좌자산회전률           181
부가가치              181
총자본투자효율           181
설비투자효율            181
기계투자효율            181
부가가치율             181
노동소득분배율           181
자본분배율             181
이윤분배율             181
폐지사유            12549
부실여부                0
상장년도                0
회계년                 0
연차                  0
dtype: int64

In [83]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

### 외국계 기업 삭제

In [84]:
# 외국계 기업 확인
KOSDAQ[KOSDAQ["거래소코드"] > 900000]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
500,(주)네오이뮨텍,950220,2022-12-01,2021-03-16,NaT,5,719.46,719.46,705.18,72.62,...,-1417.62,0.00,0.00,0.00,0.00,NaN,0,2021,2022,1
3935,(주)소마젠,950200,2021-12-01,2020-07-13,NaT,5,273.73,250.72,182.61,37.62,...,237.37,17.91,158.93,-58.93,-137.90,NaN,0,2020,2021,1
3936,(주)소마젠,950200,2022-12-01,2020-07-13,NaT,5,292.57,250.53,153.56,37.92,...,395.22,32.94,74.08,25.92,-7.34,NaN,0,2020,2022,2
6310,(주)엑세스바이오인코퍼레이션,950130,2014-12-01,2013-05-30,NaT,5,657.04,537.19,49.13,57.02,...,209.66,27.55,54.72,45.28,21.12,NaN,0,2013,2014,1
6311,(주)엑세스바이오인코퍼레이션,950130,2015-12-01,2013-05-30,NaT,5,2175.66,1811.01,333.82,53.85,...,208.68,30.76,62.16,37.84,4.27,NaN,0,2013,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17486,헝셩그룹유한회사,900270,2018-12-01,2016-08-18,NaT,5,411.65,402.21,194.70,60.44,...,1359.31,32.15,34.73,65.27,38.52,NaN,0,2016,2018,2
17487,헝셩그룹유한회사,900270,2019-12-01,2016-08-18,NaT,5,484.05,475.05,292.62,65.90,...,1755.35,33.70,31.47,68.53,43.69,NaN,0,2016,2019,3
17488,헝셩그룹유한회사,900270,2020-12-01,2016-08-18,NaT,5,515.18,506.99,355.89,64.65,...,259.78,24.16,56.15,43.85,14.80,NaN,0,2016,2020,4
17489,헝셩그룹유한회사,900270,2021-12-01,2016-08-18,NaT,5,528.81,520.13,403.57,66.89,...,244.36,26.49,57.12,42.88,1.89,NaN,0,2016,2021,5
17490,헝셩그룹유한회사,900270,2022-12-01,2016-08-18,NaT,5,554.45,547.39,440.02,68.31,...,173.41,21.26,72.24,27.76,-6.98,NaN,0,2016,2022,6

In [85]:
# 외국계 기업 컬럼 삭제
KOSDAQ = KOSDAQ[KOSDAQ["거래소코드"] <= 900000]

In [86]:
KOSDAQ.shape

(12772, 61)

In [87]:
# 회사 갯수
len(KOSDAQ['회사명'].unique())

1684

In [88]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [89]:
# 결측치 181개
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           12360
소속코드                0
유동비율              181
당좌비율              181
현금비율              181
순운전자본비율           181
부채비율              181
자기자본배율            181
이자보상배율(이자비용)      181
비유동비율             181
유동자산구성비율          181
자기자본구성비율          181
차입금의존도            181
매출액증가율            181
총자본증가율            181
자기자본증가율           181
순이익증가율            181
유형자산증가율           181
비유동자산증가율          181
유동자산증가율           181
재고자산증가율           181
매출액총이익률           181
매출액순이익률           181
총자본사업이익률          181
총자본순이익률           181
자기자본순이익률          181
1주당순이익            181
1주당매출액            181
금융비용 대 총비용비율      181
총자본회전률            181
자기자본회전률           181
비유동자산회전률          181
재고자산회전률           181
매출채권회전률           181
매입채무회전률           181
매입채무회전기간          181
재고자산회전기간          181
매출채권회전기간          181
1회전기간             181
운전자본회전률           181
순운전자본회전률          181
유형자산회전율           181
유동자산회전률           181
당좌자산회전률           181
부가가치              181
총자본투자효율           181
설비투자효율            181
기계투자효율            181
부가가치율             181
노동소득분배율           181
자본분배율             181
이윤분배율             181
폐지사유            12449
부실여부                0
상장년도                0
회계년                 0
연차                  0
dtype: int64

In [90]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

### 회계년도가 12월이 아닌 경우

In [91]:
# 회계년도 3월
KOSDAQ[KOSDAQ["회계년도"].dt.month == 3]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
2539,(주)바른손,18700,2011-03-01,1994-03-18,NaT,5,116.10,64.48,12.20,4.75,...,617.36,31.68,62.50,37.50,30.28,NaN,0,1994,2011,17
2540,(주)바른손,18700,2012-03-01,1994-03-18,NaT,5,116.74,72.51,38.86,6.00,...,833.26,24.26,95.72,4.28,-67.62,NaN,0,1994,2012,18
2541,(주)바른손,18700,2013-03-01,1994-03-18,NaT,5,71.74,39.20,10.79,-12.71,...,657.96,21.29,128.91,-28.91,-115.88,NaN,0,1994,2013,19
2542,(주)바른손,18700,2014-03-01,1994-03-18,NaT,5,82.04,37.60,9.21,-8.18,...,939.56,27.28,99.56,0.44,-83.04,NaN,0,1994,2014,20
2543,(주)바른손,18700,2015-03-01,1994-03-18,NaT,5,38.09,17.95,2.93,-35.86,...,-201.45,-6.07,0.00,0.00,0.00,NaN,0,1994,2015,21
2544,(주)바른손,18700,2016-03-01,1994-03-18,NaT,5,33.61,26.98,8.68,-19.59,...,3548.40,105.02,34.05,65.95,47.94,NaN,0,1994,2016,22
2545,(주)바른손,18700,2017-03-01,1994-03-18,NaT,5,522.64,497.65,474.55,35.23,...,8037.54,85.51,55.61,44.39,-32.63,NaN,0,1994,2017,23
2546,(주)바른손,18700,2018-03-01,1994-03-18,NaT,5,103.47,95.15,84.49,0.78,...,-7773.66,-16.94,0.00,0.00,0.00,NaN,0,1994,2018,24
2547,(주)바른손,18700,2019-03-01,1994-03-18,NaT,5,214.08,210.18,105.64,32.84,...,-276926.36,-49.84,0.00,0.00,0.00,NaN,0,1994,2019,25
2548,(주)바른손,18700,2020-03-01,1994-03-18,NaT,5,298.93,258.72,177.45,18.52,...,-41258206.39,-164.85,0.00,0.00,0.00,NaN,0,1994,2020,26
3046,(주)비츠로셀,82920,2011-03-01,2009-10-28,NaT,5,607.63,500.46,324.21,53.08,...,392.05,36.55,50.88,49.12,40.52,NaN,0,2009,2011,2
3047,(주)비츠로셀,82920,2012-03-01,2009-10-28,NaT,5,469.76,397.80,214.76,46.81,...,467.06,34.19,50.84,49.16,39.91,NaN,0,2009,2012,3
3048,(주)비츠로셀,82920,2013-03-01,2009-10-28,NaT,5,432.20,342.07,121.96,36.18,...,189.36,27.87,45.24,54.76,41.83,NaN,0,2009,2013,4
3049,(주)비츠로셀,82920,2014-03-01,2009-10-28,NaT,5,320.03,249.80,65.21,30.43,...,175.29,26.71,51.42,48.58,33.10,NaN,0,2009,2014,5
3058,(주)비츠로시스,54220,2011-03-01,2001-12-26,NaT,5,159.95,159.12,13.63,24.39,...,4819.20,15.42,51.42,48.58,30.51,NaN,0,2001,2011,10
3059,(주)비츠로시스,54220,2012-03-01,2001-12-26,NaT,5,139.53,139.07,10.47,19.93,...,3983.29,12.69,69.06,30.94,11.31,NaN,0,2001,2012,11
3060,(주)비츠로시스,54220,2013-03-01,2001-12-26,NaT,5,113.87,113.25,7.38,6.24,...,2668.88,11.74,77.32,22.68,5.93,NaN,0,2001,2013,12
3061,(주)비츠로시스,54220,2014-03-01,2001-12-26,NaT,5,92.47,91.51,0.49,-4.03,...,969.64,5.95,223.36,-123.36,-119.83,NaN,0,2001,2014,13
3062,(주)비츠로시스,54220,2015-03-01,2001-12-26,NaT,5,84.48,83.42,2.08,-8.70,...,-397.16,-2.82,0.00,0.00,0.00,NaN,0,2001,2015,14
3063,(주)비츠로시스,54220,2016-03-01,2001-12-26,NaT,5,119.22,118.33,0.07,7.65,...,2571.16,22.48,75.21,24.79,8.80,NaN,0,2001,2016,15
3064,(주)비츠로시스,54220,2017-03-01,2001-12-26,NaT,5,101.42,100.55,5.58,0.62,...,3206.67,20.15,67.83,32.17,7.55,NaN,0,2001,2017,16
3065,(주)비츠로시스,54220,2018-03-01,2001-12-26,NaT,5,94.60,93.05,7.34,-2.50,...,-2021.92,-14.27,0.00,0.00,0.00,NaN,0,2001,2018,17
3066,(주)비츠로시스,54220,2019-03-01,2001-12-26,NaT,5,4.56,1.81,0.00,-603.39,...,0.00,-319.12,0.00,0.00,0.00,NaN,0,2001,2019,18
3067,(주)비츠로시스,54220,2020-03-01,2001-12-26,NaT,5,1.72,1.49,0.00,-776.59,...,0.00,-48.31,0.00,0.00,0.00,NaN,0,2001,2020,19
3068,(주)비츠로시스,54220,2021-03-01,2001-12-26,NaT,5,27.28,21.20,15.33,-50.00,...,0.00,-123.82,0.00,0.00,0.00,NaN,0,2001,2021,20
3069,(주)비츠로시스,54220,2022-03-01,2001-12-26,NaT,5,222.22,216.44,154.08,40.40,...,13028.55,36.13,36.08,63.92,87.71,NaN,0,2001,2022,21
3070,(주)비츠로테크,42370,2011-03-01,2000-08-03,NaT,5,165.41,133.00,6.99,20.59,...,1072.22,16.32,63.46,36.54,12.87,NaN,0,2000,2011,11
3071,(주)비츠로테크,42370,2012-03-01,2000-08-03,NaT,5,153.20,115.41,5.07,18.78,...,975.49,16.60,61.88,38.12,16.33,NaN,0,2000,2012,12
3072,(주)비츠로테크,42370,2013-03-01,2000-08-03,NaT,5,174.91,150.05,5.52,23.15,...,374.47,18.28,63.04,36.96,19.65,NaN,0,2000,2013,13
3073,(주)비츠로테크,42370,2014-03-01,2000-08-03,NaT,5,177.29,152.60,0.54,22.97,...,472.28,17.73,70.39,29.61,12.50,NaN,0,2000,2014,14
5083,(주)아이티센,124500,2015-03-01,2014-12-23,NaT,5,138.39,115.61,57.14,17.38,...,6394.02,14.38,79.95,20.05,8.01,NaN,0,2014,2015,1
12849,글로본(주),19660,2011-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2011,19
12850,글로본(주),19660,2012-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2012,20
12851,글로본(주),19660,2013-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2013,21
12852,글로본(주),19660,2014-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2014,22
12853,글로본(주),19660,2015-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2015,23
12854,글로본(주),19660,2016-03-01,1992-06-04,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1992,2016,24
17550,화성밸브(주),39610,2011-03-01,2000-03-16,NaT,5,272.99,141.34,8.21,48.91,...,500.51,22.63,42.51,57.49,38.31,NaN,0,2000,2011,11
17551,화성밸브(주),39610,2012-03-01,2000-03-16,NaT,5,504.19,272.50,26.01,55.65,...,538.32,22.09,44.72,55.28,38.83,NaN,0,2000,2012,12
17552,화성밸브(주),39610,2013-03-01,2000-03-16,NaT,5,474.02,253.22,14.18,54.99,...,472.60,21.86,45.57,54.43,40.14,NaN,0,2000,2013,13
17553,화성밸브(주),39610,2014-03-01,2000-03-16,NaT,5,446.61,198.23,11.92,53.24,...,482.53,23.80,49.96,50.04,30.57,NaN,0,2000,2014,14
17554,화성밸브(주),39610,2015-03-01,2000-03-16,NaT,5,579.97,234.67,28.16,56.25,...,363.33,22.22,41.90,58.10,38.49,NaN,0,2000,2015,15
17555,화성밸브(주),39610,2016-03-01,2000-03-16,NaT,5,402.35,184.58,31.47,51.95,...,381.68,20.61,63.41,36.59,19.18,NaN,0,2000,2016,16
17556,화성밸브(주),39610,2017-03-01,2000-03-16,NaT,5,344.11,158.22,18.82,46.25,...,474.16,20.26,64.82,35.18,17.57,NaN,0,2000,2017,17

In [92]:
# 회계년도 6월
KOSDAQ[KOSDAQ["회계년도"].dt.month == 6]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
2248,(주)메디콕스,54180,2011-06-01,2001-10-16,NaT,5,14.39,13.53,0.72,-52.45,...,397.12,23.35,31.91,68.09,-264.33,NaN,0,2001,2011,10
2249,(주)메디콕스,54180,2012-06-01,2001-10-16,NaT,5,8.87,8.08,0.53,-69.84,...,-340.67,-8.24,0.00,0.00,0.00,NaN,0,2001,2012,11
2250,(주)메디콕스,54180,2013-06-01,2001-10-16,NaT,5,9.06,7.93,2.30,-56.09,...,1792.34,48.40,12.31,87.69,59.63,NaN,0,2001,2013,12
2251,(주)메디콕스,54180,2014-06-01,2001-10-16,NaT,5,20.49,17.49,9.28,-22.19,...,1163.80,25.69,23.66,76.34,32.46,NaN,0,2001,2014,13
2252,(주)메디콕스,54180,2015-06-01,2001-10-16,NaT,5,31.90,28.23,14.44,-12.44,...,676.05,42.22,19.03,80.97,48.04,NaN,0,2001,2015,14
2253,(주)메디콕스,54180,2016-06-01,2001-10-16,NaT,5,35.46,30.50,19.65,-12.95,...,542.70,25.20,32.15,67.85,21.02,NaN,0,2001,2016,15
2254,(주)메디콕스,54180,2017-06-01,2001-10-16,NaT,5,44.93,42.94,39.26,-19.82,...,-312.00,-49.26,0.00,0.00,0.00,NaN,0,2001,2017,16
2255,(주)메디콕스,54180,2018-06-01,2001-10-16,NaT,5,32.21,27.76,7.47,-26.89,...,195.71,30.46,68.54,31.46,-41.92,NaN,0,2001,2018,17
2256,(주)메디콕스,54180,2019-06-01,2001-10-16,NaT,5,53.38,46.66,29.36,-15.79,...,292.81,23.37,85.68,14.32,-44.78,NaN,0,2001,2019,18
2897,(주)비덴트,121800,2012-06-01,2011-12-01,NaT,6,596.15,382.95,236.63,47.28,...,1858.82,45.37,33.86,66.14,48.63,NaN,0,2011,2012,1
3050,(주)비츠로셀,82920,2015-06-01,2009-10-28,NaT,5,217.63,165.47,46.31,26.69,...,153.41,31.99,46.05,53.95,38.34,NaN,0,2009,2015,6
3051,(주)비츠로셀,82920,2016-06-01,2009-10-28,NaT,5,290.06,202.00,34.81,34.38,...,159.60,35.98,38.07,61.93,43.15,NaN,0,2009,2016,7
3052,(주)비츠로셀,82920,2017-06-01,2009-10-28,NaT,5,739.48,700.09,187.94,65.20,...,1255.84,33.93,42.19,57.81,46.22,NaN,0,2009,2017,8
3074,(주)비츠로테크,42370,2015-06-01,2000-08-03,NaT,5,156.55,137.11,6.82,18.64,...,566.28,17.20,72.25,27.75,10.82,NaN,0,2000,2015,15
3075,(주)비츠로테크,42370,2016-06-01,2000-08-03,NaT,5,129.64,110.55,1.06,10.43,...,442.49,14.74,112.21,-12.21,-36.23,NaN,0,2000,2016,16
3076,(주)비츠로테크,42370,2017-06-01,2000-08-03,NaT,5,243.29,217.03,47.84,33.89,...,864.06,36.31,38.22,61.78,51.89,NaN,0,2000,2017,17
3077,(주)비츠로테크,42370,2018-06-01,2000-08-03,NaT,5,141.33,100.22,29.10,12.43,...,132.51,26.54,61.83,38.17,18.72,NaN,0,2000,2018,18
6492,(주)엔투텍,227950,2020-06-01,2015-11-18,NaT,5,50.52,46.12,34.14,-27.77,...,-198.35,-11.44,0.00,0.00,0.00,NaN,0,2015,2020,5
6493,(주)엔투텍,227950,2021-06-01,2015-11-18,NaT,5,118.71,110.37,68.59,6.33,...,-999.46,-40.75,0.00,0.00,0.00,NaN,0,2015,2021,6
6494,(주)엔투텍,227950,2022-06-01,2015-11-18,NaT,5,243.79,228.16,198.52,34.89,...,1478.22,53.51,34.84,65.16,19.49,NaN,0,2015,2022,7
7190,(주)와이오엠,66430,2011-06-01,2002-12-24,NaT,5,84.41,72.65,9.85,-6.32,...,-6398.63,-157.47,0.00,0.00,0.00,NaN,0,2002,2011,9
7191,(주)와이오엠,66430,2012-06-01,2002-12-24,NaT,5,216.70,210.12,30.31,26.38,...,-11561.68,-196.87,0.00,0.00,0.00,NaN,0,2002,2012,10
7192,(주)와이오엠,66430,2013-06-01,2002-12-24,NaT,5,694.48,687.55,355.18,74.97,...,0.00,17.90,28.55,71.45,44.18,NaN,0,2002,2013,11
7193,(주)와이오엠,66430,2014-06-01,2002-12-24,NaT,5,39.71,39.71,0.91,-20.59,...,-49652.66,-250.75,0.00,0.00,0.00,NaN,0,2002,2014,12
8376,(주)이큐셀,160600,2021-06-01,2015-06-26,NaT,6,202.52,184.47,24.28,25.24,...,4378.10,21.42,79.96,20.04,-3.25,NaN,0,2015,2021,6
8984,(주)제이와이피엔터테인먼트,35900,2011-06-01,2001-08-30,NaT,5,403.92,402.42,243.90,60.91,...,2934.81,10.24,36.18,63.82,24.55,NaN,0,2001,2011,10
9498,(주)초록뱀이앤엠,131100,2020-06-01,2011-06-14,NaT,5,43.28,33.95,4.94,-39.63,...,-1219.96,-63.93,0.00,0.00,0.00,NaN,0,2011,2020,9
9499,(주)초록뱀이앤엠,131100,2021-06-01,2011-06-14,NaT,5,97.79,85.70,16.26,-0.98,...,-609.04,-83.12,0.00,0.00,0.00,NaN,0,2011,2021,10
9500,(주)초록뱀이앤엠,131100,2022-06-01,2011-06-14,NaT,5,143.02,140.41,81.39,10.91,...,-35.31,-2.36,0.00,0.00,0.00,NaN,0,2011,2022,11
11080,(주)티피씨메카트로닉스,48770,2011-06-01,2001-01-16,NaT,5,137.22,93.72,10.98,18.76,...,760.83,26.95,48.02,51.98,31.23,NaN,0,2001,2011,10
11081,(주)티피씨메카트로닉스,48770,2012-06-01,2001-01-16,NaT,5,123.34,83.71,4.37,12.00,...,770.63,28.64,78.66,21.34,5.06,NaN,0,2001,2012,11
11082,(주)티피씨메카트로닉스,48770,2013-06-01,2001-01-16,NaT,5,118.40,80.11,5.22,9.34,...,793.00,27.11,72.81,27.19,9.18,NaN,0,2001,2013,12
13845,바이온(주),32980,2011-06-01,1997-08-06,NaT,5,97.33,89.50,53.74,-1.24,...,-11.33,-2.51,0.00,0.00,0.00,NaN,0,1997,2011,14
13846,바이온(주),32980,2012-06-01,1997-08-06,NaT,5,117.31,105.60,30.53,6.33,...,127.00,30.94,47.13,52.87,1.88,NaN,0,1997,2012,15
13847,바이온(주),32980,2013-06-01,1997-08-06,NaT,5,124.52,99.47,8.42,6.41,...,-476.03,-56.59,0.00,0.00,0.00,NaN,0,1997,2013,16
13848,바이온(주),32980,2014-06-01,1997-08-06,NaT,5,284.95,258.61,62.16,29.76,...,-426.66,-47.13,0.00,0.00,0.00,NaN,0,1997,2014,17
15048,에스지에이솔루션즈(주),184230,2014-06-01,2013-12-20,NaT,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2013,2014,1
15049,에스지에이솔루션즈(주),184230,2015-06-01,2013-12-20,NaT,5,760.26,726.84,74.90,70.81,...,0.00,34.85,39.19,60.81,50.75,NaN,0,2013,2015,2

In [93]:
# 회계년도 9월
KOSDAQ[KOSDAQ["회계년도"].dt.month == 9]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
3937,(주)소프트센,32680,2011-09-01,1997-07-18,NaT,5,128.05,127.58,52.02,7.32,...,-636.11,-12.22,0.00,0.00,0.00,NaN,0,1997,2011,14
3938,(주)소프트센,32680,2012-09-01,1997-07-18,NaT,5,168.81,156.42,3.24,28.94,...,898.36,4.31,175.03,-75.03,-161.88,NaN,0,1997,2012,15
4893,(주)아이씨디,40910,2012-09-01,2011-08-05,NaT,5,707.91,593.88,164.58,53.40,...,412.11,28.42,36.26,63.74,41.73,NaN,0,2011,2012,1
4894,(주)아이씨디,40910,2013-09-01,2011-08-05,NaT,5,534.79,486.66,151.59,41.34,...,360.08,28.11,48.15,51.85,31.70,NaN,0,2011,2013,2
4895,(주)아이씨디,40910,2014-09-01,2011-08-05,NaT,5,357.39,280.06,189.26,27.84,...,-21.32,-16.61,0.00,0.00,0.00,NaN,0,2011,2014,3
4896,(주)아이씨디,40910,2015-09-01,2011-08-05,NaT,5,242.02,136.16,50.26,19.84,...,199.93,35.72,121.09,-21.09,-55.66,NaN,0,2011,2015,4
8378,(주)이크레더블,92130,2011-09-01,2008-10-24,NaT,5,530.70,530.70,34.99,65.76,...,2134.02,37.96,0.00,0.00,88.42,NaN,0,2008,2011,3
8379,(주)이크레더블,92130,2012-09-01,2008-10-24,NaT,5,534.01,534.01,39.81,65.34,...,1382.79,34.82,0.00,0.00,87.87,NaN,0,2008,2012,4
9165,(주)중앙에너비스,440,2011-09-01,1993-03-24,NaT,5,48.86,38.33,0.84,-10.97,...,0.00,9.94,48.84,51.16,30.52,NaN,0,1993,2011,18
9166,(주)중앙에너비스,440,2012-09-01,1993-03-24,NaT,5,56.07,39.81,0.88,-9.55,...,0.00,9.05,62.91,37.09,19.41,NaN,0,1993,2012,19
9167,(주)중앙에너비스,440,2013-09-01,1993-03-24,NaT,5,46.09,35.62,0.43,-10.89,...,1074.26,11.07,63.68,36.32,18.63,NaN,0,1993,2013,20
9168,(주)중앙에너비스,440,2014-09-01,1993-03-24,NaT,5,74.68,48.87,1.32,-6.54,...,1134.57,14.93,64.84,35.16,18.57,NaN,0,1993,2014,21
13024,농업회사법인(주)농우바이오,54050,2013-09-01,2002-04-02,NaT,5,514.57,264.83,90.68,39.33,...,640.68,44.50,59.93,40.07,31.55,NaN,0,2002,2013,11
13025,농업회사법인(주)농우바이오,54050,2014-09-01,2002-04-02,NaT,5,479.40,228.69,75.85,38.67,...,803.27,46.91,54.65,45.35,34.03,NaN,0,2002,2014,12
13026,농업회사법인(주)농우바이오,54050,2015-09-01,2002-04-02,NaT,5,318.03,147.02,38.72,34.49,...,684.29,44.18,54.41,45.59,37.81,NaN,0,2002,2015,13
17177,한국기업평가(주),34950,2011-09-01,2002-02-07,NaT,5,449.97,449.97,52.19,55.80,...,4603.22,23.14,0.00,0.00,86.58,NaN,0,2002,2011,9
17178,한국기업평가(주),34950,2012-09-01,2002-02-07,NaT,5,350.73,350.73,43.29,52.00,...,4456.91,30.61,0.00,0.00,82.83,NaN,0,2002,2012,10

In [94]:
# 회계년도 12월인 경우만 저장
KOSDAQ = KOSDAQ[KOSDAQ["회계년도"].dt.month == 12]

In [95]:
# 회사 갯수
len(KOSDAQ['회사명'].unique())

1683

In [96]:
KOSDAQ.shape

(12671, 61)

In [97]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [98]:
# 결측치 174개
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           12259
소속코드                0
유동비율              174
당좌비율              174
현금비율              174
순운전자본비율           174
부채비율              174
자기자본배율            174
이자보상배율(이자비용)      174
비유동비율             174
유동자산구성비율          174
자기자본구성비율          174
차입금의존도            174
매출액증가율            174
총자본증가율            174
자기자본증가율           174
순이익증가율            174
유형자산증가율           174
비유동자산증가율          174
유동자산증가율           174
재고자산증가율           174
매출액총이익률           174
매출액순이익률           174
총자본사업이익률          174
총자본순이익률           174
자기자본순이익률          174
1주당순이익            174
1주당매출액            174
금융비용 대 총비용비율      174
총자본회전률            174
자기자본회전률           174
비유동자산회전률          174
재고자산회전률           174
매출채권회전률           174
매입채무회전률           174
매입채무회전기간          174
재고자산회전기간          174
매출채권회전기간          174
1회전기간             174
운전자본회전률           174
순운전자본회전률          174
유형자산회전율           174
유동자산회전률           174
당좌자산회전률           174
부가가치              174
총자본투자효율           174
설비투자효율            174
기계투자효율            174
부가가치율             174
노동소득분배율           174
자본분배율             174
이윤분배율             174
폐지사유            12348
부실여부                0
상장년도                0
회계년                 0
연차                  0
dtype: int64

- 현재 코스피 결측치 0개, 코스닥 결측치 247개

In [99]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

In [100]:
KOSDAQ['부실여부'].value_counts()

0    12475
1      196
Name: 부실여부, dtype: int64

In [101]:
KOSDAQ['부실여부'].value_counts(property)

0    0.984532
1    0.015468
Name: 부실여부, dtype: float64

In [102]:
# 결측값 기업 확인
KOSDAQ[KOSDAQ["유동비율"].isnull()]['회사명'].unique()

array(['(주)고려시멘트', '(주)구스앤홈', '(주)국전약품', '(주)금오하이텍', '(주)나이코', '(주)나인테크',
       '(주)네온테크', '(주)넥슨게임즈', '(주)누보', '(주)다린', '(주)다보링크', '(주)다이오진',
       '(주)더블유에스아이', '(주)덴티스', '(주)드림시큐리티', '(주)디딤이앤에프', '(주)디와이디',
       '(주)라이콤', '(주)라이프사이언스테크놀로지', '(주)러셀', '(주)레이크머티리얼즈', '(주)로보로보',
       '(주)모코엠시스', '(주)미래생명자원', '(주)미애부', '(주)바이오시네틱스', '(주)밸로프',
       '(주)본느2', '(주)비앤에스미디어', '(주)비엔에프코퍼레이션', '(주)비투엔', '(주)삼기',
       '(주)서진오토모티브', '(주)세기리텍', '(주)세림비앤지', '(주)셀바스헬스케어', '(주)스페이스솔루션',
       '(주)시냅스엠', '(주)썸에이지', '(주)씨티네트웍스', '(주)앙츠', '(주)애니플러스',
       '(주)에스와이이노베이션', '(주)에이치앤아이', '(주)에치에프알', '(주)엔투텍', '(주)엔피',
       '(주)엠앤씨생명과학', '(주)영현무역', '(주)예선테크', '(주)오션스톤', '(주)오하임아이엔티',
       '(주)옵투스제약', '(주)와이즈버즈', '(주)우정바이오', '(주)원바이오젠2', '(주)웨이버스',
       '(주)위메이드플레이', '(주)윙스풋', '(주)유쎌', '(주)이노인스트루먼트', '(주)이랜시스',
       '(주)이십일스토어', '(주)이푸른', '(주)인터코스', '(주)인프라웨어테크놀러지', '(주)일승',
       '(주)자비스2', '(주)전우정밀', '(주)정다운2', '(주)제이시스메디칼', '(주)제이에스피브이',
       '(주)주노콜렉션', '(주)지란지교시큐리티', '(주)지성이씨에스', '(주)카이노스메드2', '(주)케미메디',
       '(주)켐트로스', '(주)코스텍시스', '(주)큐브엔터테인먼트', '(주)클래시스', '(주)태경피엔에스',
       '(주)태성', '(주)테라텍', '(주)토박스코리아', '(주)티티씨디펜스', '(주)포인트엔지니어링2',
       '(주)포커스에이치엔에스', '(주)프로이천', '(주)피엠디아카데미', '(주)피엠에스', '(주)하이딥',
       '(주)하이비젼시스템', '(주)한국비엔씨2', '(주)한송네오텍', '(주)한일진공', '(주)휴센텍',
       '(주)힘스인터내셔널', '글로벌텍스프리(주)', '나무기술(주)2', '디와이씨(주)', '명진홀딩스(주)',
       '무송지오씨(주)', '세신버팔로(주)', '세종머티리얼즈(주)', '소프트캠프(주)1', '소프트캠프(주)2',
       '솔트웨어(주)', '스탠다드펌(주)', '씨아이에스(주)2', '아스팩오일(주)', '알서포트(주)',
       '알에프에이치아이씨(주)', '에스엠로보틱스(주)', '와이아이케이(주)', '원텍(주)2', '이에스산업(주)',
       '줌인터넷(주)2', '지엘팜텍(주)', '지오릿에너지(주)', '청광건설(주)', '케어룸의료산업(주)',
       '케이에이치건설(주)', '케이엠제약(주)', '코리아에프티(주)', '패션플랫폼(주)2', '현대무벡스(주)',
       '휴마시스(주)'], dtype=object)

### 결측값 삭제

In [103]:
# 결측값 기업들은 dart로 확인을 했을 때 기타법인, 벤처기업, 코넥스등의 기업이므로 삭제
KOSDAQ = KOSDAQ[~KOSDAQ["유동비율"].isnull()]
KOSDAQ

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)CMG제약,58820,2011-12-01,2001-08-31,NaT,5,200.97,165.03,15.10,28.23,...,128.51,19.56,89.82,10.18,-43.44,NaN,0,2001,2011,10
1,(주)CMG제약,58820,2012-12-01,2001-08-31,NaT,5,693.49,649.98,68.81,70.60,...,10.67,1.66,1749.87,-1649.87,-2473.07,NaN,0,2001,2012,11
2,(주)CMG제약,58820,2013-12-01,2001-08-31,NaT,5,694.71,610.74,394.63,58.50,...,289.40,34.29,71.28,28.72,4.23,NaN,0,2001,2013,12
3,(주)CMG제약,58820,2014-12-01,2001-08-31,NaT,5,324.58,268.23,101.24,33.72,...,132.06,31.04,79.30,20.70,2.24,NaN,0,2001,2014,13
4,(주)CMG제약,58820,2015-12-01,2001-08-31,NaT,5,296.85,235.21,29.00,30.82,...,90.92,15.96,144.10,-44.10,-84.58,NaN,0,2001,2015,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,3064.10,4.44,47.47,52.53,32.14,NaN,0,1994,2018,24
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,3489.21,10.00,22.19,77.81,55.02,NaN,0,1994,2019,25
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,3280.80,8.94,30.41,69.59,46.65,NaN,0,1994,2020,26
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,1308.44,4.38,53.22,46.78,24.13,NaN,0,1994,2021,27
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,1823.26,5.15,40.67,59.33,35.15,NaN,0,1994,2022,28

In [104]:
KOSDAQ.shape

(12497, 61)

In [105]:
# 회사 갯수 확인
len(KOSDAQ["회사명"].unique())

1635

In [106]:
# 부실기업 회사명 갯수
len(KOSDAQ.loc[KOSDAQ['부실여부'] == 1, '회사명'].unique())

161

In [107]:
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [108]:
# 결측값 0인 것 확인
KOSDAQ.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
상장일                 0
상장폐지일           12141
소속코드                0
유동비율                0
당좌비율                0
현금비율                0
순운전자본비율             0
부채비율                0
자기자본배율              0
이자보상배율(이자비용)        0
비유동비율               0
유동자산구성비율            0
자기자본구성비율            0
차입금의존도              0
매출액증가율              0
총자본증가율              0
자기자본증가율             0
순이익증가율              0
유형자산증가율             0
비유동자산증가율            0
유동자산증가율             0
재고자산증가율             0
매출액총이익률             0
매출액순이익률             0
총자본사업이익률            0
총자본순이익률             0
자기자본순이익률            0
1주당순이익              0
1주당매출액              0
금융비용 대 총비용비율        0
총자본회전률              0
자기자본회전률             0
비유동자산회전률            0
재고자산회전률             0
매출채권회전률             0
매입채무회전률             0
매입채무회전기간            0
재고자산회전기간            0
매출채권회전기간            0
1회전기간               0
운전자본회전률             0
순운전자본회전률            0
유형자산회전율             0
유동자산회전률             0
당좌자산회전률             0
부가가치                0
총자본투자효율             0
설비투자효율              0
기계투자효율              0
부가가치율               0
노동소득분배율             0
자본분배율               0
이윤분배율               0
폐지사유            12174
부실여부                0
상장년도                0
회계년                 0
연차                  0
dtype: int64

In [109]:
# 기본 설정으로 변환
pd.reset_option('display.max_rows')

In [110]:
KOSDAQ['부실여부'].value_counts()

0    12336
1      161
Name: 부실여부, dtype: int64

In [111]:
KOSDAQ['부실여부'].value_counts(property)

0    0.987117
1    0.012883
Name: 부실여부, dtype: float64

In [112]:
# KOSPI, KOSDAQ 데이터 프레임 합치기
df = pd.concat([KOSPI, KOSDAQ])
df

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부,상장년도,회계년,연차
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,78.90,39.45,62.53,37.47,-44.96,NaN,0,1975,2011,36
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,112.22,41.58,55.93,44.07,-12.76,NaN,0,1975,2012,37
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,112.45,38.80,67.15,32.85,-43.35,NaN,0,1975,2013,38
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,136.97,33.00,68.59,31.41,-41.11,NaN,0,1975,2014,39
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,230.24,57.93,35.93,64.07,32.82,NaN,0,1975,2015,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,3064.10,4.44,47.47,52.53,32.14,NaN,0,1994,2018,24
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,3489.21,10.00,22.19,77.81,55.02,NaN,0,1994,2019,25
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,3280.80,8.94,30.41,69.59,46.65,NaN,0,1994,2020,26
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,1308.44,4.38,53.22,46.78,24.13,NaN,0,1994,2021,27
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,1823.26,5.15,40.67,59.33,35.15,NaN,0,1994,2022,28

In [113]:
# 필요없는 상장년도, 회계년, 연차 컬럼 삭제
df = df.drop(['상장년도', '회계년', '연차'], axis = 1)
df

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,유동비율,당좌비율,현금비율,순운전자본비율,...,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,폐지사유,부실여부
0,(주)DB하이텍,990,2011-12-01,1975-12-12,NaT,1,35.20,25.50,5.04,-42.95,...,217837.57,18.17,29.75,78.90,39.45,62.53,37.47,-44.96,NaN,0
1,(주)DB하이텍,990,2012-12-01,1975-12-12,NaT,1,55.66,41.39,7.19,-21.27,...,245655.23,21.22,37.03,112.22,41.58,55.93,44.07,-12.76,NaN,0
2,(주)DB하이텍,990,2013-12-01,1975-12-12,NaT,1,46.76,31.58,7.39,-23.99,...,191554.48,18.10,31.86,112.45,38.80,67.15,32.85,-43.35,NaN,0
3,(주)DB하이텍,990,2014-12-01,1975-12-12,NaT,1,65.77,47.39,10.72,-13.08,...,187341.51,19.02,33.99,136.97,33.00,68.59,31.41,-41.11,NaN,0
4,(주)DB하이텍,990,2015-12-01,1975-12-12,NaT,1,138.40,104.20,44.31,9.52,...,386127.30,39.21,78.88,230.24,57.93,35.93,64.07,32.82,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,흥구석유(주),24060,2018-12-01,1994-12-07,NaT,5,329.17,290.09,105.67,11.59,...,7373.52,9.80,19.56,3064.10,4.44,47.47,52.53,32.14,NaN,0
17627,흥구석유(주),24060,2019-12-01,1994-12-07,NaT,5,485.39,422.76,49.75,21.47,...,15072.74,18.02,42.99,3489.21,10.00,22.19,77.81,55.02,NaN,0
17628,흥구석유(주),24060,2020-12-01,1994-12-07,NaT,5,1108.08,1013.02,56.54,30.09,...,10271.87,12.27,34.04,3280.80,8.94,30.41,69.59,46.65,NaN,0
17629,흥구석유(주),24060,2021-12-01,1994-12-07,NaT,5,913.64,818.58,31.93,28.57,...,5796.91,7.01,19.15,1308.44,4.38,53.22,46.78,24.13,NaN,0
17630,흥구석유(주),24060,2022-12-01,1994-12-07,NaT,5,185.24,115.48,11.23,4.25,...,7559.53,8.05,25.32,1823.26,5.15,40.67,59.33,35.15,NaN,0

In [273]:
df.to_csv('KOSPI+KOSDAQ.csv', index = False)